{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">About College</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="flex gap full">
      <div class="small-container flex-just-start">
        <div class="head-big">ABOUT COLLEGE</div>
      </div>
    </div>
    <div class="small-container">
      <p>
        Krishna Menon Memorial Govt.Women's College named after the illustrious
        son of our country Sri. V.K Krishna Menon is an institution of higher
        education situated in the ancient town of Kannur, which is the home of
        looms and lores. The college is affiliated to Kannur University. This
        institution is primarily meant for the progressive education of young
        women and it is the only women’s college in the northern part of Kerala
        extending from Kozhikode to Kasargode. Being an institution in the
        government sector, the college is committed to serve the economically
        weaker and the less privileged sections of the society. The college is
        the virtual realization of the long cherished dream of the service
        oriented, hard working and progressive citizens of Kannur. In a district
        which has been declared socially and educationally backward by the
        government, it was imperative that a women’s college should be started
        in the public sector to cater to the needs of the increasing number of
        girls seeking education every year. In the present era of empowerment of
        women, the socially and economically backward communities of Malabar,
        which lagged behind in education, necessitated a separate women’s
        institution. Now it is heartening to note that the women students of
        minority and backward communities, among others, are blessed with the
        light of knowledge. This institution came in to existence as a sequel to
        the untiring efforts of the Cannanore Women’s Education and Welfare
        Society and other social workers.
      </p>
      <p>
        The year 1975 stands out as a land mark in the history of Kannur for it
        sets in motion the transformation of a poor backward district into a
        centre of culture and learning, rising to a new life with the dawn of
        higher education to women. On the 16th of August 1975, Krishna Menon
        Memorial Govt. Women’s College was inaugurated as an institution
        affiliated to University of Calicut. At first, provisional affiliation
        was granted to the Two year Pre- Degree course with the following
        combination of subjects under part III.
      </p>
      <ul>
        <li>Indian History, World History and Economics</li>
        <li>Indian History, World History and English</li>
        <li>Indian History, World History and Hindi</li>
        <li>Indian History, World History and Malayalam</li>
      </ul>
      <p>
        Initially the college functioned in a high school building at
        Payyambalam. Later the college took over 15 acres of land granted by the
        Government of Kerala in the Jail compound at Pallikkunnu. In 1980 the
        college was upgraded, thanks to the relentless efforts and dedication of
        the College Vikasana Samithi. On 14th September1980 Degree Classes were
        inaugurated by Sri. Baby John, the Hon’ble Minister for Education.
      </p>
      <p>
        The courses started were 1) BA Economics (main) with Modern Indian
        History and Political Science as subsidiaries and 2) B.A History (main)
        with General Economics and Political Science as subsidiaries.
        Recognizing the emerging trends in the development of economic theory, a
        Degree course in Economics with Mathematical Economics and Mathematics
        for Economic analysis as subsidiaries was recommended. Accordingly,
        sanction was given to BA Economics (main) with Mathematical Economics
        and Mathematics for Economic analysis as subsidiaries in 1981-82.
      </p>
      <p>
        The college was shifted from its temporary abode at Payyambalam to the
        present campus during 1982-83. Initially, the Jail Superintendent’s
        Bungalow was remodelled to give room for the Degree classes and the
        college office. Later the College Vikasana Samithi took the effort of
        constructing five lecture halls and donated them to the college. The
        dream of an Auditorium became a reality when the College Vikasana
        Samithi started the construction and the government completed it. The
        Auditorium was inaugurated on 4th September, 1990. Since the Jail
        Superintendent’s Bungalow could not provide ample space for the PG
        Courses, the construction of a new building was initiated on 11.03.1989
        by the Parent Teacher Association. Some of the degree classes were
        shifted to the partially constructed new building in 1991.
      </p>
      <p>
        The need for starting new courses was increasingly felt and in 1991-92
        the University sanctioned a degree course in English with Journalism and
        Social and Cultural History of Britain as Subsidiaries. Subsequently B.A
        Malayalam (main) with Sanskrit as subsidiary was started in 1993-94. In
        1998-99, B.Sc. Physics (main) with Mathematics and Computer Science as
        subsidiaries was started. Together with the equipments of the Physics
        Lab, a computer lab was inaugurated in the same year with 12 computers.
        This remains a turning point in the history of the college. B.Sc.
        Mathematics (main) with Physics and Computer Science as subsidiaries was
        started in 2000-01. The PG course in English was sanctioned during
        2004-05. The will power, enthusiasm, co-operation and educational
        consciousness of the people of this area can be regarded as the prime
        strength of the institution. With regard to the improvement of
        infrastructure, the institution received timely helps from the Local
        Area Development (LAD) scheme of the M.Ps, Sri. Mullappally Ramachandran
        and Sri. A.P. Abdulla Kutty. With the LAD scheme of Sri. Mullappally
        Ramachandran, the college ground was cleared and the stadium was
        constructed. Later, a new library building was constructed using MP fund
        of Sri. A. P. Abdulla Kutty, under the same scheme. A compound wall for
        the college was erected by the PWD utilizing government fund. The
        College Development Council (CDC) took initiative in constructing a
        hostel in 2003 and it was completed in 2005. A Canteen run by
        Kudumbasree, a self help group is also functioning in the college
        premises. A permanent solution was found for the problem of drinking
        water when a direct connection was taken from the Kerala Water
        Authority. The college Parent – Teacher Association also constructed a
        well to find a lasting solution to the water crises. With the support of
        the Kerala State Sports Council, a modern basketball court was
        constructed duly supervised by the PTA.
      </p>
    </div>
  </div>
</div>

{% endblock %}
