{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Academic Calender</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">ACADEMIC CALENDAR-DOWNLOADS</div>
        </div>
      </div>
      <div class="small-container">
   
        <ul class="list-3">
          <li>  
            <a target="_blank" href="kmmadmin/calender/Academic%20Calendar%202020-21.pdf">ACADEMIC CALENDAR 2020-21</a>
          </li><li>
            <a target="_blank" href="kmmadmin/calender/ACADEMIC-CALENDAR-2019-20.pdf">ACADEMIC-CALENDAR-2019-20</a>
          </li><li>
            <a target="_blank" href="kmmadmin/calender/ACADEMIC-CALENDAR-2018-19.pdf">ACADEMIC-CALENDAR-2018-19</a>
          </li>          </ul> 
        </div>
    </div>
</div>
</div>
{% endblock %}