{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Admission</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <!-- <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Admission</div>
        </div>
      </div> -->
      <div class="small-container">
        <div class="" style="">
            
        <p>
         As the college is affiliated to Kannur University, Kerala, the admission is through the Centralised Allotment 
         Process (CAP) of the university. The eligibility and reservation norms are invariably followed at the university 
         level itself and the duty at the college level is to verify the candidate’s documents and ensure that she is 
         eligible for admission in the allotted category. During the admission period, admission details are updated in 
         the college website on daily-basis for the easy access to information by the stakeholder community.
        </p>  <br>
         University CAP Web-link: <a href="https://admission.kannuruniversity.ac.in/" target="_blank"> https://admission.kannuruniversity.ac.in</a>                            
    </div>
    </div>
</div>
</div>
</div>
{% endblock %}