{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">AISHE</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <article>
        The chief objective of AISHE is to portray the status of higher education in the India. The Ministry of Education has endeavoured to conduct an annual web-based All India Survey on Higher Education (AISHE) since 2010-11. The institution has obtained the unique AISHE id viz. C-43857. The survey covers all the Institutions in the country engaged in imparting of higher education. Data is being collected on several parameters such as teachers, student enrolment, programmes, examination results, education finance, infrastructure and the like. Indicators of educational development such as Institution Density, Gross Enrolment Ratio, Pupil-Teacher ratio, Gender Parity Index, Per Student Expenditure will also be calculated from the data collected through AISHE. These are useful in making informed policy decisions and research for development of education sector.
      </article>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Certificate12</div>
      </div>
      <a
        href="{% static 'assets/form/LEAVE_FORM.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">TC:</div>
      </div>
      <a href="{% static 'assets/form/TC.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">PM:</div>
      </div>
      <a href="{% static 'assets/form/PM.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
   
    </div>
  </div>
</div>

{% endblock %}
