{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">ALUMNI ASSOCIATION</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
      <pre>
      Ever since its inception, this educational institution of great repute, has been playing a pivotal role in moulding many eminent and industrious personalities who have been leaving an indelible stamp in various realms of life. It has been envisaged that the service and support of these multifaceted alumnae can be availed to the benefit of the alma mater. With this noble aim, an Alumnae association has been formed in this college. The association displayed their Committee

      </pre>
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start">
        <div class="head">Dr.Omana Pankan</div>
        <div class="light">President</div>
      </div>
      <div class="small-container flex-just-start">
        <div class="head">Dr.Samritha A V</div>
        <div class="light">Secretary</div>
      </div>
      <div class="small-container flex-just-start">
        <div class="head">Smt. Namratha Manoharan</div>
        <div class="light">Treasurer</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
