{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">ALUMNI ASSOCIATION</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
      <p>
        Ever since its inception, this educational institution of great repute has been playing a pivotal role in
        molding
        many eminent and industrious personalities who have been leaving an indelible stamp in various realms of life.
        It has been envisaged that the service and support of these multifaceted alumnae can be availed to the benefit
        of the
        alma mater. With this noble aim, an Alumnae Association has been formed in this college.
      </p>
      <table class="styled-table">
        <thead>
          <tr>
            <th colspan="2">Committee List </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Convenor </td>
            <td>Dr. Samritha. A.V </td>
          </tr>
          <tr>
            <td rowspan="4">Members</td>
            <td>Dr. Smitha K</td>
          </tr>
          <tr>
            <td>Ms.Roshini T.K</td>
          </tr>
          <tr>
            <td>Dr. Francis. O.S</td>
          </tr>
          <tr>
            <td>Smt.Namratha Manoharan</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Photo Gallery</div>
        </div>
      </div>
      <!-- <div class="small-container">
      </div> -->
      <div class="small-container imgbox">
        <img src="{% static 'assets/nss/snnss1.jpg' %}" alt="" />
        <img src="{% static 'assets/nss/snnss2.jpg' %}" alt="" />
        <img src="{% static 'assets/nss/snnss5.jpg' %}" alt="" />
        <img src="{% static 'assets/nss/snnss4.jpg' %}" alt="" />
        <img src="{% static 'assets/nss/snnss7.jpg' %}" alt="" />
        <img src="{% static 'assets/nss/snnss6.jpg' %}" alt="" />
      </div>
    </div>
    </div>
  </div>
</div>
</div>

{% endblock %}