{% extends "header.html" %}
{% block content %}
    {% load static %}
    <div class="container banner">
        <div class="heading">AMENITY CENTRE</div>
    </div>
    <div class="container">
        <div class="sec-container column-flex">
            <div class="flex gap full">
                <!-- <div class="small-container flex-just-start">
          <div class="head-big">AMENITY CENTRE</div>
        </div> -->
            </div>
            <div class="small-container">
                <p>
                    The college has a well equipped student amenity centre to cater to the various requirements of its
                    student community. It is quite adjacent to the main block of the institution in 1500 square feet area,
                    where the students can get refreshed before and during intervals. The amenity centre is set in a single
                    storey building which has many bathrooms, beds, wash basins and lots of chairs to relax during intervals
                    and recess. This will provide all necessary first aids and students with any physical difficulty till
                    the service of a medical practitioner is made available. Tutors of different classes will take care of
                    the sick students along with their assigned classmates.
                    <br>
                </p>
            </div>
            <!-- <div class="flex gap full">
        <div class="small-container flex-just-start">
            <div class="head-big">Photo Gallery</div>
        </div>
    </div>
    <div class="small-container imgbox">
        <img src="{% static 'assets/library/library1.jpg' %}" alt="Lib Img" class="gallery-img" />
        <img src="{% static 'assets/library/library2.jpg' %}" alt="Lib Img" class="gallery-img" />
        <img src="{% static 'assets/library/library3.jpeg' %}" alt="Lib Img" class="gallery-img" />
        <img src="{% static 'assets/library/library4.jpeg' %}" alt="Lib Img" class="gallery-img" />
        <img src="{% static 'assets/library/library5.jpeg' %}" alt="Lib Img" class="gallery-img" />
        <img src="{% static 'assets/library/library6.jpeg' %}" alt="Lib Img" class="gallery-img" />
        <img src="{% static 'assets/library/library7.jpeg' %}" alt="Lib Img" class="gallery-img" />
    </div> -->
        </div>
    </div>
    <!-- The Modal -->
    <div id="imageModal" class="modal">
        <span class="close" id="modalClose">&times;</span>
        <img class="modal-content" id="modalImg">
    </div>
    <link rel="stylesheet" href="{% static 'gallery.css' %}" />
    <script src="{% static 'gallery.js' %}" defer></script>
{% endblock %}
