{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">AMENITY CENTRE</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">AMENITY CENTRE</div>
        </div>
      </div>  
      <div class="small-container">  
             <p> 
                The college has a well equipped student amenity centre to cater to the various requirements of its 
                student community. It is quite adjacent to the main block of the institution in 1500 square feet area, 
                where the students can get refreshed before and during intervals.  The amenity centre is set in a single 
                storey building which has many bathrooms, beds, wash basins and lots of chairs to relax during intervals 
                and recess. This will provide all necessary first aids and students with any physical difficulty till 
                the service of a medical practitioner is made available. Tutors of different classes will take care of 
                the sick students along with their assigned classmates.   <br> 
            </p>
      <div class="small-container">
        <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Photo Gallary</div>
        </div>
      </div>
      <div class="small-container">
      </div>
    </div>
    </div>
</div>
{% endblock %}