{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">AQAR</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">1.1.2_Academic_Calendar_2022-23.pdf</div>
      </div>
      <a
        href="{% static 'aqar/1.1.2_Academic_Calendar_2022-23.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">1.2.1_Choice_Based_Credit_System.pdf</div>
      </div>
      <a
        href="{% static 'aqar/1.2.1_Choice_Based_Credit_System.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">2.3.2 ICT Facilities for Teaching.pdf</div>
      </div>
      <a
        href="{% static 'aqar/2.3.2 ICT Facilities for Teaching.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">1.3.2 Project Work & Field Trip.pdf</div>
      </div>
      <a
        href="{% static 'aqar/1.3.2 Project Work & Field Trip.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">4.2.2 e-Journals and e-Resources.pdf</div>
      </div>
      <a
        href="{% static 'aqar/4.2.2 e-Journals and e-Resources.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">2.2 Seats Earmarked for Reserved Category.pdf</div>
      </div>
      <a
        href="{% static 'aqar/2.2 Seats Earmarked for Reserved Category.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">3.2 Sanctioned Post.pdf</div>
      </div>
      <a
        href="{% static 'aqar/3.2 Sanctioned Post.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">1.4.1 Feedback Action Taken Report.pdf</div>
      </div>
      <a
        href="{% static 'aqar/1.4.1 Feedback Action Taken Report.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">4.1.3 Class Rooms.pdf</div>
      </div>
      <a
        href="{% static 'aqar/4.1.3 Class Rooms.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">1.4.2_Feedback_process_of_the_Institution.pdf</div>
      </div>
      <a
        href="{% static 'aqar/1.4.2_Feedback_process_of_the_Institution.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">3.2.2 Seminars and Workshops - Reports and Brochures.pdf</div>
      </div>
      <a
        href="{% static 'aqar/3.2.2 Seminars and Workshops - Reports and Brochures.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">5.1.1 Scholarship & Freeship (Government).pdf</div>
      </div>
      <a
        href="{% static 'aqar/5.1.1 Scholarship & Freeship (Government).pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">5.1.3 Capacity building and skills enhancement initiatives.pdf</div>
      </div>
      <a
        href="{% static 'aqar/5.1.3 Capacity building and skills enhancement initiatives.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">5.1.2 Scholarship & Freeship (Non-Government).pdf</div>
      </div>
      <a
        href="{% static 'aqar/5.1.2 Scholarship & Freeship (Non-Government).pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">5.4.1 Alumni Activites.pdf</div>
      </div>
      <a
        href="{% static 'aqar/5.4.1 Alumni Activites.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">6.2.2 Organogram.pdf</div>
      </div>
      <a
        href="{% static 'aqar/6.2.2 Organogram.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">6.1.1 Vision and Mission.pdf</div>
      </div>
      <a
        href="{% static 'aqar/6.1.1 Vision and Mission.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">6.4.2 Funds received form Philanthropers.pdf</div>
      </div>
      <a
        href="{% static 'aqar/6.4.2 Funds received form Philanthropers.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">7.3.1 Institutional Distinctiveness.pdf</div>
      </div>
      <a
        href="{% static 'aqar/7.3.1 Institutional Distinctiveness.pdf'%}"
        class="btn outline" target="_blank"
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="heading">AQAR REPORT</div>
</div>
<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">AQAR-2021-22</div>
      </div>
      <a
        href="{% static 'aqar/KMMGWC-AQAR-2021-22.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">AQAR-2019-20</div>
      </div>
      <a
        href="{% static 'aqar/KMMGWC-AQAR-2019-20.pdf'%}"
        class="btn outline" target="_blank" 
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">AQAR-2018-19</div>
      </div>
      <a
        href="{% static 'aqar/KMMGWC-AQAR-2018-19.pdf'%}"
        class="btn outline" target="_blank" 
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">AQAR-2017-18</div>
      </div>
      <a
        href="{% static 'aqar/AQAR 2017-18.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">AQAR-2016-17</div>
      </div>
      <a
        href="{% static 'aqar/AQAR-2016-17.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">AQAR-2015-16</div>
      </div>
      <a
        href="{% static 'aqar/AQAR-2015-16.pdf'%}"
        class="btn outline" target="_blank"
              >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> file
      </a>
    </div>
   
    </div>
  </div>
</div>
{% endblock %}
