{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Auditorium & Seminar Hall</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Auditorium & Seminar Hall</div>
        </div>
      </div>  
      <div class="small-container">
        <p>
            The college has two large auditoriums: old and new. The old one is quite large enough to hold more than 
            five hundred people and is built in a more than 5000 square feet area. The new one is under construction 
            and can hold nearly a thousand people in nearly 10000 square feet area. The auditorium is used to hold 
            different cultural festivals, workshops and seminars both by the stakeholders and outsiders. The external 
            people and organisations can hire the auditorium after remitting the required fee to the government. Strict 
            directions are given to the people outside not to damage the clean and green atmosphere of the campus. The 
            waste they produce will have to be taken back by them.
        </p> 
        <p> The college has two seminar halls as well, which are well equipped and fully functional. These amenities are 
            used by different departments of the college to hold programmes like seminars, academic discussions, workshops, 
            welcome meetings to fresh admissions, farewell meetings to outgoing students and the like. General meetings of 
            the staff are also convened in these seminar halls. The new seminar hall has been equipped like a conference 
            hall where a lot of governmental programmes are conducted at regular intervals. 
        </p>     
      </div>
            <div class="flex gap full">
            <div class="small-container flex-just-start">
              <div class="head-big">Photo Gallary</div>
            </div>
          </div>
          <div class="small-container imgbox">
          </div>
        </div>
        </div>
    </div>
{% endblock %}