{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Best Practice</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <!-- <div class="small-container">
      <div class="head-big">BEST PRACTICE</div>
    </div> -->
    <div class="small-container">
      <p>
        ‘Care for the Other/Social’ and ‘Crossing the Barriers’ are the best
        practices of the college. The former underscores the value of caring for
        the social, transcending the care for the self. The latter encourages
        students to cross the barriers of socially constituted bias towards
        women labour.
      </p>
      <p>
        Title:
        <span class="middle-strong">Care for the Social/Other Objectives:</span>
      </p>
      <p></p>
      <p><span class="middle-strong"> Objectives</span></p>
      <p>
        The main objective of the initiative is to intimate the importance of
        the value of caring for the social/other against the upheld view of the
        care for the self.
      </p>
      <p>
        <span class="middle-strong">The Context</span>
      </p>
      <p>
        The care for the social/other is an umbrella term for the initiative of
        the college that attempts to address one of the acunae in the existing
        field of higher education, ‘social care’. It is largely acknowledged
        that the existing syllabus and curriculum in higher education are
        oriented towards the value of the care for the individual/self success
        and personal well-being, along with primary knowledge in their concerned
        discipline. Realization of these lacunae forced the academic community
        of the college to chart a few programmes and re-orient some of the
        existing ones as well to practically learn the value of caring for the
        other.
      </p>

      <p><span class="middle-strong">The Practice:</span></p>

      <p><span class="light-strong"> 1.Limbs for Life</span></p>
      <p>
        The college, with the initiative of the NSS units has been successively
        conducting prostheses camps named ‘Limbs for Life’, to care for the
        disabled since 2018. In 2022, the Higher Education Minister inaugurated
        the Phase III Artificial limb camp –“Limbs for Life”. This is a boon for
        people who have been unfortunate to lose their limbs due to accidents
        and disease. This year, apart from donating artificial limbs, polio
        affected persons were also given calipers. 16 physically challenged
        persons received limbs, 20 got calipers and one an artificial hand . The
        camps lasted a week and the beneficiaries were invited through public
        notice. The programme was charted in the way that the entire community
        of the college would manage major part from check-in of the
        differentially abled to their check-out after fixing artificial limbs.
      </p>
      <p><span class="light-strong">2.Free Noon meal scheme and Uniform scheme
        </span></p>

      <p>
        The free noon meal scheme is envisaged by the staff and Parent Teacher
        Association of the college as an initiative to help the needy students.
        Apart from ensuring that no student goes hungry, it aims at providing
        wholesome meals to selected students. The college canteen is entrusted
        with the work of preparing and providing lunch to such students on all
        working days. The class tutors identify students in need of free meals.
        They do so by conducting tutorial meetings and after having face to face
        interactions with students of a class. The quality of the food given to
        students is not compromised and they are given nutritious diet every
        day.</p>
      <p>The free uniform scheme is yet another scheme carried out in the
        college with the aid of PTA. The needy students are identified and they
        are given uniforms. The parent department in which the student studies
        also gets involved.</p>

      <p><span class="light-strong">3.Little Acts of Caring </span></p>
      <p> Students also involved in
        other acts of caring like Blood Donation Camps, Lunch for the Desolate,
        Fund mobilisation for a destitute student, palliative visits to Old Age
        Homes in Kannur District, visits to meet the inmates of the Central
        Jail, Kannur, for Cultural Exchanges, Southern Railway for Swachh
        Bharath Mission. </p>
      <p><span class="middle-strong">Care for the Green </span>was another remarkable project with
        subprojects cloth bag making, paper pen making, afforestation,
        anti-plastic campaigns, e-waste collection, and energy conservation
        campaigns.</p>
      <p> The college had initial difficulties in mobilising financial
        resources for such diverse programmes The student community took active
        leadership for mobilising funds through gift coupons and the teaching
        community also made their donations. The Artificial limb camp undertaken
        by the college has been greatly applauded by the community and due
        recognition has been given to the students of the college for their
        little acts of caring.</p>
      <p> <span class="middle-strong">Success</span></p>
      <p> The success of the programme can be
        assessed on two counts, first, by citing the examples of students
        increasingly involving in activities that inculcate of the value of care
        for the other from the opinions of the general publicProblems
        Encountered and Resources Required: </p>
      <p><span class="middle-strong">Problems Encountered and Resources Required:</span></p>
      <p>The college had initial difficulties in mobilising financial
        resources for such diverse programmes. The student community took active
        leadership for mobilising funds through gift coupons and the teaching
        community also made their donations. This demanded much physical work
        from the students which they did with devotion and a sense of charity.
        While the programme was going on, we did not have any means to check
        whether the students were internalizing the value we wanted them to
        embody. Therefore, after the completion of each programme, a discussion
        and an evaluation of their experiences had been organised to gauge the
        success of these philanthropic endeavours.</p>
      </p>
    </div>
    <div class="small-container">
      <div class="head-big">BEST PRACTICE 2</div>
    </div>
    <div class="small-container">

      <p>
        Title:
        <span class="middle-strong">Crossing the Barriers:</span>
      </p>
      <p></p>
      <p><span class="middle-strong"> Crossing the BarriersObjectives</span>

        is an encompassing programme visualized to endow the students of the college with the opportunities to become
        critically aware of the means by which they are continuously being marginalized as women
      </p>
      <p><span class="middle-strong"> Objectives :</span>
        To enable the students to reflect upon the gender bias and to convince them that the social exclusion of women
        is cultural rather than natural and hence needs to be challenged.
      </p>
      <p>
        <span class="middle-strong">The Context :</span>
      </p>
      <p>
        Being a women’s college, the institution considers its efforts are required to generate critical attitudes
        against gender inequality and to achieve this goal a long-term plan has to be designed.
      </p>

      <p><span class="middle-strong">The Practice:</span></p>


      <p>
        The college continuously provided an environment for students to challenge the elements of patriarchy in society
        through a set of well-sequenced programmes. This includes creating gender consciousness among the students
        through seminars, workshops, invited speeches and campaigns, to become economically independent and also
        encouraging them to take up activities hitherto considered to be exclusively in the male domain. The Women Cell
        in association with Kannur Thaluk Legal Service Committee conducted a session on the legal problems faced by
        women in the society and the protection laws that have been constituted for the welfare of the female. Sessions
        on Zero Menstrual Waste, Breast Cancer as well as a Gender Awareness Campaign and Skill Development Training in
        collaboration with the KSWDC was conducted. Women’s Fest marked a week-long celebration with talks, performances
        and competitions. On International Women’s day 2023, the college in association with Kannur Town Janamaitri
        Police Station organised a Self Defence Training programme for the students. The students received hands on
        training on defending themselves from assaulters in buses, on streets and at home. They were also given tips on
        facing petty thieves, pick pockets and possible sex offenders.
      </p>

      <p> <span class="middle-strong">Success</span></p>
      <p> There are visible evidences that the efforts have started fructifying. A significant impact of the programme
        is that the students are increasingly coming forward in public sphere. A few of our alumnae are now willingly
        engaged in works which were remained under male terrain. A few of them run independent business concerns as
        well. For instance, 2 students have rubber tapping as a part-time job, 11 students have started tuition classes
        for school students, 3 students have commercial home-based cake production and have succeeded to an extent in
        becoming economically independent. </p>

      <p><span class="middle-strong">Problems Encountered and Resources Required:</span></p>
      <p>The implementation of the programme required financial and physical resources like coconut climbing machine,
        sewing machine and bicycles apart from the expenses to buy various consumables as part of the skill training
        activities. The college got financial assistance from the District Industries Centre, Kannur and from the Kerala
        State Women’s Development Corporation. With the active initiation from the part of Entrepreneurship Development
        Club and Women’s Cell, the programmes are functioning in the college.</p>
      </p>
    </div>
    <!-- <a href="kmmadmin/Best-Practice/Best%20Practice-2020-21.pdf" target="_blank">Best Practice-2020-21</a> -->
    <!-- <div class="small-container flex list">
        <div class="flex">
          <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
          <div class="c">Best Practice-2020-21</div>
        </div>
        <a
          href="{% static 'assets/form/LEAVE_FORM.pdf'%}"
          class="btn outline"
          download
        >
          <img src="{% static 'assets/download_black.svg'%}" alt="" /> Download
        </a>
      </div> -->
    {% for best_practice in best_practices %}
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">{{ best_practice.name }}</div>
      </div>
      <div class="button-style">
        <a href="{{ best_practice.pdf.url }}" class="btn outline" target="_blank">View</a>
        <a href="{{ best_practice.pdf.url }}" class="btn outline" download>
          <img src="{% static 'assets/download_black.svg' %}" alt="" /> Download
        </a>
      </div>
    </div>
    {% empty %}
    <p>No Best Practices available.</p>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}