{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Canteen</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Canteen</div>
        </div>
      </div>  
      <div class="small-container">  
        <p>
            The canteen of the college provides all types of snacks, tea, coffee, milk and lunch to all its stakeholders. 
            It is built in a 1600 square feet area with sufficient number of seating capacity for students and staff separately. 
            The mid day lunch to students is provided for just Rs. 10/-, an unbelievable price that has been highly applauded 
            by many people including the Director of Collegiate Education, who suggested that this could be implemented in other 
            educational institutions as well. Lunch to other staff is priced at Rs. 20/- only. The canteen also provides special 
            dishes like biriyani on all Fridays and on other special occasions. The canteen also uses unwanted wood from the 
            campus as fuel which helps keeping the campus clean and tidy.
        </p>
      <div class="small-container">
        <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Photo Gallary</div>
        </div>
      </div>
      <div class="small-container">
      </div>
    </div>
    </div>
</div>
{% endblock %}