{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Career Guidance & Placement Cell</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
       <p>
        Career guidance & Placement cell is to provide ample opportunities to the students for upgrading their skills. 
        The real aim of formal education in the modern context is also to make the students ready for jobs or self-reliance 
        in addition to their physical, mental and spiritual development. There is a need to provide a platform for the students 
        in the institution where they are studying.
       </p>
       <ul>
        <li>
            The Career Guidance cell supports both UG and Pg students of the college in achieving their dream careers by providing 
            career guidance, career counselling and other related services.
        </li>
         <li>
            The career guidance and placement cell in college has been formulated to address the diverse socio-economic challenges 
            and geographic backgrounds of the heterogeneous population of students coming to the college vis-à-vis equity of access 
            and placement opportunities through availability of appropriate institutional support information.
        </li>  
        <li>
            The career guidance and placement cell support that the college offers to its students makes them confident to perform 
            better. Counselling thus addresses both the academic and the career concerns and opportunities.
        </li>
       </ul>
       <table class="styled-table">
        <thead>
            <tr>
                <th colspan="2">Placement, Career Guidance and Counseling Cell </th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Convenor </td><td style="font-weight: bold;">Sri. Sirajuddeen P K </td></tr>
            <tr><td  rowspan="5">Members</td><td>Dr. Shiju George </td></tr>
            <tr><td>Sri.Muhammed Shafeeq. K.C </td></tr>
            <tr><td>Smt. Anjana P T </td></tr>
            <tr><td>Smt.Vineetha Vijayan (Coordinator, Jeevani) </td></tr>
            <tr><td>Dr.Vipin Chandran.K.P </td></tr>
        </tbody>
       </table>
      </div>
    </div>
</div>

{% endblock %}