{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">College Development Council (CDC)</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <!-- <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">College Development Council (CDC)</div>
        </div>
      </div> -->
      <div class="small-container">
        <p>
            The College Development Council (CDC) is constituted as per G.O.(Ms) No. 177/87/H.Edn. dated 15/5/1987.
             The primary objective behind the implementation of CDC system is to have a focussed effort for overall 
             development of the old and well-established colleges in Kerala. The mandate of the Committee is given below,
        </p>
        <p>
            (a) The Committee shall meet as frequently as may be necessary. In the absence of the Chairman, a member of 
            the Committee may be nominated to preside over any meeting.
        </p>
        <p>
            (b) The Committee shall prepare a plan for the development of the college with a view to improving the facilities
             available including construction/maintenance to be carried out during a period of five years. The five-year plan
              shall be broken up into annual plans.
            </p>
        <p>
            (c) The Committee shall also be responsible for the implementation of the schemes. To the extent possible, the 
            Committee should follow the rules in Government regarding construction works, purchases etc. Construction works 
            undertaken by the Committee should be certified as fit by the PWD. Furniture and other items purchased by the 
            Committee should be brought in to the stock account as in the case of articles purchased with Government Funds.
        </p>
        <p>
            (d) A copy of the minutes of every meeting of the committee shall be forwarded to the Director of Collegiate 
            Education immediately after the meeting.
        </p>
        <p>
            (e) The Committee shall have powers to accept donations from the public. The staffs of the college are also 
            permitted to make collections towards the fund in the name of the “College Development Fund”.
        </p>
        <p>
            (f) An amount equal to the funds raised by the Committee towards the college development fund will be given by 
            the Government as grant. The grant will be paid taking into account the collections made up to the 31st of December 
            every year.
        </p>
        <p>
            (g) The request for grant shall be made by the Principal, through the Director, Collegiate Education, after the 31st 
            December every year.
        </p>
        <p>
            (h) The Principal should furnish a utilization certificate in respect of the grant disbursed, at the earliest, and 
            in any case within one year of the withdrawal of the amount. If the money is not utilized within one year, the 
            unutilized amount should be refunded.
        </p>
        <p>
            (i) The Principal who is the Secretary of the Committee shall arrange to maintain proper accounts. All bank accounts 
            should be operated by him. Receipts for contributions should also be given by the Principal or any person authorized 
            by the Committee in this behalf.
        </p>
       Present Members
       <p>
        <ol style="padding: 0 20px ;">
            <li>S Chandrasekar IAS, District Collector, Chairman</li>
            <li>Dr. C.P. Santhosh, Principal of the College, Secretary and Treasurer</li>
            <li>Dr.Narayanan P (Puthiyilleth), Assistant Professor of Economics, Convener</li>
            <li>Sri. T.K. Devarajan, The Vice-President of the P.T.A</li>
            <li>Dr. Omana Pankan, The President of the Alumni Association</li>
            <li>The Chairman of the College Union (Presently Vacant)</li>
            <li>The Executive Engineer (PWD - Buildings)</li>
            <li>The Executive Engineer (PWD - Buildings)</li>
            <li>Smt. K.A. Sarala, Former Faculty of English and Former President, District Panchayat, Kannur</li>
            <li>Smt. P.P. Divya, District Panchayath President, Kannur and Alumna of the College</li>
            <li>Prof. N.K. Govindan, Former Faculty of Chemistry</li>
            <li>Smt. K.P. Jeeja, Parent Representative </li>
          </ol>
       </p>

      </div>
    </div>
    </div>
{% endblock %}