{% extends "header.html" %}{% block content %}
<div class="container banner">
    <div class="heading">Clubs</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
      </div>
      <div class="small-container">
        <table class="styled-table">
            <tr>
                <th colspan="2">1. Book Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Dr. Smitha K</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    Sri. Laneesh P <br>
                    Smt. Preeshi K
                </td>
            </tr>
        </table>
        
        <br>
        
        <table class="styled-table">
            <tr>
                <th colspan="2">2. ED Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Sri. Subhash P P</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    Dr. Sindhu N <br>
                    Smt. Nikhila T V
                </td>
            </tr>
        </table>
        
        <br>
        
        <table class="styled-table">
            <tr>
                <th colspan="2">3. Media Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Dr. Ganeshan V</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    Dr. Josna Jacob <br>
                    Ms. Aiswarya K, (Journalism Guest Faculty)
                </td>
            </tr>
        </table>
        
        <br>
        
        <table class="styled-table">
            <tr>
                <th colspan="2">4. Science Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Sri. Muhammed Shafeeq K C</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    Dr. Shiju George <br>
                    Dr. Surabhi A K <br>
                    Sri. Laneesh P
                </td>
            </tr>
        </table>
        
        <br>
        
        <table class="styled-table">
            <tr>
                <th colspan="2">5. Nature Club/Forestry Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Dr. Rajesh R</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    Dr. Vipin Chandran K P <br>
                    Dr. Surabhi A K <br>
                    Smt. Shyja K P <br>
                    Smt. Veena M <br>
                    Dr. Nidheesh K P
                </td>
            </tr>
        </table>
        
        <br>
        
        <table class="styled-table">
            <tr>
                <th colspan="2">6. Road Safety Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Smt. Veena M</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    Smt. Preeshi K <br>
                    Dr. Shyamnath K <br>
                    Sri. Prasad S B
                </td>
            </tr>
        </table>
        
        <br>
        
        <table class="styled-table">
            <tr>
                <th colspan="2">7. Folklore Club</th>
            </tr>
            <tr>
                <td>Patron</td>
                <td>Principal</td>
            </tr>
            <tr>
                <td>Co-ordinator</td>
                <td>Dr. Ganeshan V</td>
            </tr>
            <tr>
                <td>Teacher Representatives</td>
                <td>
                    Dr. Josna Jacob <br>
                    Smt. Shyja K P <br>
                    Dr. Nidheesh K P
                </td>
            </tr>
        </table>

        <br>

        <table class="styled-table">
            <tr>
                <th colspan="2">8. Electoral Literacy Club</th>
            </tr>
            <tr>
                <td>Convenor</td>
                <td>Smt. Sreekala V P</td>
            </tr>
        </table>
        
        
</div>
</div>
</div>
{% endblock %}