{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Code of Conduct</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
            <p> 
                1. Identity card is mandatory for students and they should produce it whenever asked by the college authorities.
            </p>
            <p>
                2. Students should reach the campus by 9.30a.m and should engage in curricular and extra-curricular activities 
                till 4.30p.m.
            </p>
            <p>
                3. Students should not leave campus without the permission of their tutors.
            </p>
            <p>
                4. During class time students should avoid wandering in the campus and gathering in the portico and stairs.
            </p>
            <p>
                5. The students who use vehicles should park in the allotted area and avoid taking vehicles to the rare as 
                in the campus.
            </p>
            <p>6. If there is no class, students should make use of the department libraries, general library, computer lab 
                and health club.
            </p>
            <p>
                7. Ragging is strictly prohibited in campus as per the order of the High Court. In case ragging is noticed the 
                same should be reported to the Principal.
            </p>
            <p>
                8. According to Government order use of the drugs in the college is an offense. Carrying and entering the 
                campus after consuming the same are punishable.
            </p>
            <p>
                9. Discipline should be maintained in canteen, playground and other public spaces in the campus.
            </p>
            <p>
                10. The damage and destruction of the assets of the college are punishable.
            </p>
            <p>11. Use of plastic is banned in the campus. Plastic carry bags and other plastic products in the campus are 
                strictly banned. 
            </p>
            <p>
                12. The class and surroundings should be maintained neat and tidy. Throwing of garbage should be avoided.
            </p>
            <p>
                13. Pasting posters and writing on college buildings and walls should be avoided.
            </p>
            <p>
                14. There should be utmost care in the use of water and electricity. Whenever students leave of the class, 
                they should ensure switching off lights and fans.
            </p>
            <p>
                15. Collecting of funds should not be carried out without the prior permission of the Principal.
            </p>
              
            It is informed that the above code of conduct should be strictly followed and any violation of

            the same will be taken seriously and disciplinary action will be initiated against the violators.
      </div>
    </div>
</div>

{% endblock %}