{% extends "header.html" %}{% block content %}
<div class="container banner">
    <div class="heading">College Union</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <!-- <div class="small-container flex-just-start">
          <div class="head-big">Library</div>
        </div> -->
      </div>
      <div class="small-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name of the Post </th>
                    <th>Name of the Office Bearer </th>
                </tr>
            </thead>
            <tbody>
                <tr><td>THE CHAIRMAN </td><td>SHANIBA T K  III BA ECONOMICS (A) </td></tr>
                <tr><td>THE VICE-CHAIRMAN </td><td>ADITHYA M  III BA ECONOMICS (B) </td></tr>
                <tr><td>THE SECRETARY  </td><td>SWATHI NAMBIAR K P  II BA ECONOMICS (A) </td></tr>
                <tr><td>THE JOINT SECRETARY  </td><td>MARVA P P  III BSc CHEMISTRY </td></tr>
                <tr><td rowspan="2">THE COUNCILLOR TO THE KANNUR UNIVERSITY  UNION </td><td>GOPIKA A K II BA ECONOMICS (A) </td></tr>
                <tr><td>NAJIYA RAUF III BA HISTORY </td></tr>
                <tr><td>THE SECRETARY, FINE ARTS</td><td>NIRANJANA K II BA MALAYALAM </td></tr>
                <tr><td>THE STUDENT EDITOR OF THE COLLEGE MAGAZINE</td><td>ANNA KATHARIN CHACKO II BA HISTORY </td></tr>
                <tr><td>THE GENERAL CAPTAIN (SPORTS & GAMES)</td><td>NANDANA K V I BA MALAYALAM </td></tr>
                <tr><td>THE REPRESENTATIVE TO THE I DEGREE COURSE </td><td>SURYA K K I BA HISTORY </td></tr>
                <tr><td>THE REPRESENTATIVE TO THE II DEGREE COURSE </td><td>NASIYA SALEEM P II BA HISTORY </td></tr>
                <tr><td>THE REPRESENTATIVE TO THE III DEGREE COURSE  </td><td>FATHIMATHU NIDHA M P III BSc CHEMISTRY</td></tr>
                <tr><td>THE REPRESENTATIVE TO THE POST GRADUATE DEGREE COURSE </td><td>AISWARYA KESAVAN I MA ENGLISH </td></tr>
                <tr><td>THE SECRETARY TO THE ECONOMICS ASSOCIATION </td><td>FATHIMATH SANA K P II BA ECONOMICS (B) </td></tr>
                <tr><td>THE SECRETARY TO THE MATHEMATICS  ASSOCIATION</td><td>AMANA III BSc MATHEMATICS </td></tr>
                <tr><td>THE SECRETARY TO THE PHYSICS ASSOCIATION</td><td>GOPIKA T T III BSc PHYSICS </td></tr>
                <tr><td>THE SECRETARY TO THE MALAYALAM ASSOCIATION </td><td>ANOHITHA C II BA MALAYALAM </td></tr>
                <tr><td>THE SECRETARY TO THE CHEMISTRY ASSOCIATION</td><td>CHAITHANYA K T III BSc CHEMISTRY </td></tr>
                <tr><td>THE SECRETARY TO THE HISTORY ASSOCIATION </td><td>ANANYA RAJESH II BA HISTORY </td></tr>
                <tr><td>THE SECRETARY TO THE ENGLISH ASSOCIATION  </td><td>RABEEA A P II BA ENGLISH </td></tr>
            </tbody>
        </table><br>
        <h3>GUIDELINES FOR THE CONSTITUTION OF COLLEGE UNION</h3>
        <p>
            The following guidelines suggested by the University of Kannur will be followed in the constitution and 
            functioning of the college union and affiliated associations. Each college affiliated to the Kannur
             University shall have a college union comprising all students enrolled in the college.
        </p>
                                    
        <div>
            <p><strong>Article-I</strong>The objects of the college union shall be </p>
                <ol type="i">
                    <li>(i) to train the students of the college in the duties and rights of citizenship</li>
                    <li>(ii) to promote opportunities, for the development of character, leadership, efficiency, knowledge and spirit of service among students</li>
                    <li>(iii) to organise debates, seminars, worksquads, touring parties and such other important functions</li>
                    <li>(iv) to promote opportunities for students to organise sports, arts and other cultural and recreational activities and.</li>
                    <li>(v) to take up all such other activities that are relevant and incidental to the objectives of the Kannur University Union.</li>
                </ol>
        </div>
        <div>
            <p><strong>Article-II</strong>All college unions in institutions affiliated to the Kannur University shall be affiliated to the Kannur University Union. </p>
        </div>
        <div class="article_sec">
            <p><strong>Article-III</strong> </p>
            <ol type="i">
                <li>
                    (a) All students of the college shall ipso facto be ordinary members of the union and shall have the 
                    right to vote and contest in the election of the Union.
                </li>
                <li>
                    (b) Every ordinary member of the union can become a member of one or more other associations according 
                    to his/her main/optional subject or second language for interest.
                </li>
                <li>
                    (c) All members shall pay the prescribed, membership fee towards the college union fund with the first 
                    installment of fees.
                </li>
            </ol>
        </div>
        <div>
            <p><strong>Article-IV</strong> The tenure of office of every college union shall be one academic year.</p>
        </div>
        <div class="article_sec">
            <p><strong>Article-V</strong> 
                There shall be various associations subordinate to the college union such as language associations, subject 
                associations etc. Membership of these associations will be determined by the language or subject offered 
                by the student. The office bearers of these associations will be elected directly by the members. 
                The secretary of the fine arts association and the chief editior of the college magazine will be elected by 
                all the students of this college. The union councillor will be elected by the students of this college. Chief 
                student editor should not be student of the final year class of a course. There shall be a common inauguration, 
                at the beginning of the year of the union and all the associations.
            </p>
        </div>
        <div>
            <p><strong>Article-VI</strong> shall be a union council comprising the following:</p>
            <ol type="i">
                <li>(a) The president of the union i.e., the Principal ex-officio.</li>
                <li>(b) The Chairman, Vice-Chairman, Secretary and Joint Secretary of the college union.</li>
                <li>(c) The Secretary of each of the various college associations.</li>
                <li>(d) One representative each of I Degree, II Degree and III Degree classes elected by the students of the respective classes and one representative elected by all the P. G. students.</li>
                <li>(e) Chief students editor of the college magazine.</li>
                <li>(f) The staff adviser nominated by the President.</li>
            </ol>
            <p>
                The Chairman, Vice-Chairman, Secretary and Joint Secretary of the college union shall be elected by all 
                the students of the college.
            </p>
        </div>
        <div>
            <p><strong>Article-VII</strong> There shall be a union executive committee comprising the following:</p>
            <ol type="i">
                <li>(a) The president of the union.</li>
                <li>(b)The Chairman, Vice-Chairman, Secretary, Joint Secretary of the union and the University Union Councillor.</li>
                <li>(c) These members elected by the union council from among themselves of whom one shall be a woman student.</li>
                <li>(d) The staff adviser.</li>
            </ol>
            <p>The union secretary shall act as the secretary of the executive committee.</p>
        </div>
        <div>
            <p><strong>Article-VIII</strong> 
                The union council shall meet at the beginning of the academic year and formulate its activities for 
                the year and prepare the budget for the year. It shall also meet subsequently whenever necessary. The Chairman of 
                the college union shall normally preside over all meetings of the union and union council. However meetings 
                attended by the president shall be presided over by the president. The Secretary of the union shall act as the 
                secretary of the union council. He shall issue notices for meetings and other functions of the college union, 
                the union council and the executive committee and keep the minutes of the meetings. The Secretary shall make 
                arrangements for the ordinary and extraordinary meetings of college union subject to the approval of the 
                union executive committee and submit the accounts and vouchers relating to the year after the college day.
            </p>
        </div>
        <div>
            <p><strong>Article-IX</strong> 
                The union executive committee shall be responsible for carrying out the policy and the programme decided by 
                the council. It shall meet as often as if necessary for the effective discharge of its functions. It shall 
                be responsible for the administration of the union funds and at the end of the year, it shall submit the 
                audited accounts to the union council. The union executive committee shall also function as a consultative 
                committee to advise the Principal on students’ needs and problems.
            </p>
        </div>
        <div>
            <p><strong>Article-X</strong></p>
            <ol type="i">
                <li>
                    (a) The Principal shall be the ex-officio President and honorary treasurer of the college union. The 
                    President shall be the ultimate authority in all matters concerned with the college union. He shall 
                    ordinary act on the advice of the union executive committee.
                </li>
                <li>
                    (b) The funds of the college shall be held by the honorary treasurer. Expenses for the activities of 
                    the union shall be incurred only with the previous sanction of the union executive committee except 
                    on an occasion of the emergency.
                </li>
            </ol>
        </div>
        <div class="article_sec">
            <p><strong>Article-XI</strong>
                In addition to the chief student editor of the college magazine, there shall be student editors for 
                Malayalam, Hindi and other language section, who shall be the secretaries of Language Associations 
                concerned. The chairman and secretary of the college union shall be ex-officio members of the editorial 
                committee.
            </p>
        </div>
        <div>
            <p><strong>Article-XII</strong>
                The college union shall endeavour to organise student centres to promote club activities like indoor games, 
                photographic club, hobby clubs and so on. The college union office shall also be housed here.Where a separate 
                building is not available, the principal may allocate separate space for this purpose. The secretaries of 
                the planning forum and the social service league will be elected by the members of the respective 
                association to be enrolled on payment of nominal fee to be fixed by the Principal.
            </p>
        </div>
        </div>
        <div class="flex gap full">
            <div class="small-container flex-just-start">
              <div class="head-big">Photo Gallary</div>
            </div>
          </div>
          <div class="small-container imgbox">
          </div>
</div>
</div>
</div>
<style>
    ul, ol{
        list-style: none;
    }
</style>
{% endblock %}