{% extends "header.html" %}{% block content %}
<div class="container banner">
    <div class="heading">Committies</div>
</div>

<div class="container">
    <div class="sec-container column-flex">
        <div class="flex gap full">
            <div class="small-container flex-just-start">
                <div class="head-big">COMMITTEES 2024-25</div>
            </div>
        </div>
        <div class="small-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2"><b>1. Academic Monitoring Committee </b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td>Dr.C P Santhosh</td>
                    </tr>
                    <tr>
                        <td rowspan="5">Members</td>
                        <td>Dr. Nisha Nambiar</td>
                    </tr>
                    <tr>
                        <td>Dr. Ganeshan V</td>
                    </tr>
                    <tr>
                        <td>Dr.Samritha A.V.</td>
                    </tr>
                    <tr>
                        <td>Smt. Anjana P T</td>
                    </tr>
                    <tr>
                        <td>Dr.Binu.P.J</td>
                    </tr>
                </tbody>
            </table>
            <table class="styled-table">
                <thead>
                    <th>2. Internal Quality Assurance Cell (IQAC)</th>
                </thead>
                <tbody>
                    <tr>
                        <td>a)Principal</td>
                    </tr>
                    <tr>
                        <td>b)Dr. Nisha Nambiar (IQAC Coordinator)</td>
                    </tr>
                    <tr>
                        <td>c) Dr. Santhosh C P (Vice Principal)</td>
                    </tr>
                    <tr>
                        <td>d) Dr.Narayanan P (NAAC Coordinator)</td>
                    </tr>
                    <tr>
                        <td>e) Dr. Francis. O.S</td>
                    </tr>
                    <tr>
                        <td>f) Dr. Ananda Krishnan Kunholathillath (Nodal officer , AISHE)</td>
                    </tr>
                    <tr>
                        <td>g) Dr. Shanavas. P H</td>
                    </tr>
                    <tr>
                        <td>h) Dr. Sukumaran M (PTA Secretary)</td>
                    </tr>
                    <tr>
                        <td>i) Dr.Samritha A.V - Alumne Representative</td>
                    </tr>
                    <tr>
                        <td>j) Dr.Binu.P.J</td>
                    </tr>
                    <tr>
                        <td>k) Dr.Vipin Chandran.K.P</td>
                    </tr>
                    <tr>
                        <td>l) Dr.Shibu P (Incharge of Placement)</td>
                    </tr>
                    <tr>
                        <td>m) Dr.Riyas P</td>
                    </tr>
                    <tr>
                        <td>n) Sri.Sethunath N.K, Psychologist</td>
                    </tr>
                    <tr>
                        <td>o) Adv. P. Indira, Corporation Deputy Mayor</td>
                    </tr>
                    <tr>
                        <td>p) College Union chairman- Student Representative</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">3. RUSA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Head of the Institution (Full time Appointee)</td>
                            <td>Principal</td>
                        </tr>
                        <tr>
                            <td>Nodal Officer for Academic Activities</td>
                            <td>Vice Principal</td>
                        </tr>
                        <tr>
                            <td>RUSA Institutional Coordinator</td>
                            <td>Dr. Shiju George</td>
                        </tr>
                        <tr>
                            <td>Nodal Officer for Civil works including Environmental Management </td>
                            <td>Dr. Shanavas P H </td>
                        </tr>
                        <tr>
                            <td>Nodal Officer for procurement</td>
                            <td>Sri. Muhammed Shafeeq K C</td>
                        </tr>
                        <tr>
                            <td>Nodal Officer for Financial Aspect</td>
                            <td>Dr. Surabhi A K</td>
                        </tr>
                        <tr>
                            <td>Nodal Officer for Equity Assurance Plan Implementation</td>
                            <td>Dr. Shyamnath K </td>
                        </tr>
                        <tr>
                            <td rowspan="3">Members</td>
                            <td>Dr.Rajeevan P</td>
                        </tr>
                        <tr>
                            <td>Dr. Sukumaran M</td>
                        </tr>
                        <tr>
                            <td>Smt. Thanseera. E (Office Staff in charge of RUSA)</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">4. Purchase Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Smt.Anjana P.T</td>
                        </tr>
                        <tr>
                            <td colspan="2">a)     All Heads of Departments</td>
                        </tr>
                        <tr>
                            <td colspan="2">b)     Office Superintendent</td>
                        </tr>
                        <tr>
                            <td colspan="2">c)     Section Clerk</td>
                        </tr>
                        <tr>
                            <td colspan="2">d)     Librarian</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">5.  Planning Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr. Shanavas P.H </td>
                        </tr>
                        <tr>
                            <td rowspan="4">Members</td>
                            <td>All Heads of Departments</td>
                        </tr>
                        <tr>
                            <td>RUSA Coordinator</td>
                        </tr>
                        <tr>
                            <td>IQAC/NAAC Coordinator</td>
                        </tr>
                        <tr>
                            <td>PTA Secretary</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="styled-table" style="width:100%;">
                    <thead class="header_t">
                        <tr>
                            <th colspan="2" ">6.  Anti-Narcotic Cell/നേർക്കൂട്ടം</th>
                             </tr>
                          </thead>
                         <tbody>
                            <tr>
                                <td>Convenor</td>
                                <td>Dr.Rajeevan P</td>
                               </tr>
                             <tr>
                                  <td rowspan=" 6">Members</td>
                            <td>Sub Inspector of Police</td>
                        </tr>
                        <tr>
                            <td>Smt. Vineetha Vijayan N </td>
                        </tr>
                        <tr>
                            <td>Dr.Ananda Krishnan Kunholathillath</td>
                        </tr>
                        <tr>
                            <td>Senior Superintendent</td>
                        </tr>
                        <tr>
                            <td>Chairperson, College Union</td>
                        </tr>
                        <tr>
                            <td>General Secretary, College Union</td>
                        </tr>
                        </tbody>
                </table>
            </div>


            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead class="header_t">
                        <tr>
                            <th colspan="2">7.  Anti-Ragging Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Principal</td>
                        </tr>
                        <tr>
                            <td rowspan="18">Members</td>
                            <td>1)Civil and Police Administration</td>
                        </tr>
                        <tr>
                            <td> a) ADM</td>
                        </tr>
                        <tr>
                            <td> b)Women’s Cell Convenor</td>
                        </tr>
                        <tr>
                            <td> c)C.I of Police</td>
                        </tr>
                        <tr>
                            <td>2)Non-Govt. Organisation Involved in Youth Activities </td>
                        </tr>
                        <tr>
                            <td> a) Red Cross Member</td>
                        </tr>
                        <tr>
                            <td>3)Local Media – Press Club Secretary, Kannur</td>
                        </tr>
                        <tr>
                            <td>4)Faculty Members</td>
                        </tr>
                        <tr>
                            <td> a) Smt.Vineetha P. Nair (Coordinator)</td>
                        </tr>
                        <tr>
                            <td> b) Smt.Veena M</td>
                        </tr>
                        <tr>
                            <td>5)Senior Superintendent</td>
                        </tr>
                        <tr>
                            <td>6)Parents</td>
                        </tr>
                        <tr>
                            <td> a) Vice President, PTA</td>
                        </tr>
                        <tr>
                            <td> b) Executive member, PTA</td>
                        </tr>
                        <tr>
                            <td>6)Fresh as well as Senior Students</td>
                        </tr>
                        <tr>
                            <td> a) Ananya A, II M.Sc. Chemistry</td>
                        </tr>
                        <tr>
                            <td> b)Shyamini K.V, I B.Sc. Mathematics</td>
                        </tr>
                        <tr>
                            <td>7)Non-Teaching Staff - Smt. Sanitha K.V</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">8.  Anti-Ragging Squad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chairman</td>
                            <td>Principal</td>
                        </tr>
                        <tr>
                        <tr>
                            <td>Coordinator</td>
                            <td>Dr.Vinayan T</td>
                        </tr>
                        <tr>
                            <td rowspan="4">Members</td>
                            <td>Dr.Ananda Krishnan Kunholathillath</td>
                        </tr>
                        <tr>
                            <td>Chairperson, College Union</td>
                        </tr>
                        <tr>
                            <td>Secretary, College Union</td>
                        </tr>
                        <tr>
                            <td>General Captain, College Union</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">9. ICC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Smt.Mridula M</td>
                        </tr>
                        <tr>
                            <td rowspan="4"></td>
                            <td>Dr. Sandhya. P</td>
                        </tr>
                        <tr>
                            <td>Smt.Veena M</td>
                        </tr>
                        <tr>
                            <td>Smt. N Sukanya,
                                Corporation Councillor</td>
                        </tr>
                        <tr>
                            <td>Adv. Preetha Hareendran</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">10.  Committee Against Sexual Harassment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr. Nisha Nambiar</td>
                        </tr>
                        <tr>
                            <td rowspan="3">Members</td>
                            <td>Dr.Syamala Manicheri</td>
                        </tr>
                        <tr>
                            <td>Dr. Ganeshan V</td>
                        </tr>
                        <tr>
                            <td>Smt.Nikhila T.V</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content_section text-justify" style="">
                <table class="styled-table" style="width:100%;">
                    <thead class="header_t">
                        <tr>
                            <th colspan="2">11.  Grievance Redressal Cell </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr.Surabhi A.K</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Members</td>
                            <td>Dr. Nisha Nambiar</td>
                        </tr>
                        <tr>
                            <td>Dr.Sandhya.P</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead class="header_t">
                        <tr>
                            <th colspan="2">12.  Women’s Cell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Smt. Mridula. M</td>
                        </tr>
                        <tr>
                            <td rowspan="3">Members</td>
                            <td>Dr.Josna Jacob</td>
                        </tr>
                        <tr>
                            <td>Dr.Sindhu N</td>
                        </tr>
                        <tr>
                            <td>Smt. Vineetha Vijayan N</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">13.  Building Committee/Public Work Monitoring Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr.Riyas P</td>
                        </tr>
                        <tr>
                            <td rowspan="5"></td>
                        </tr>
                        <tr>
                            <td>Dr.Riyas P</td>
                        </tr>
                        <tr>
                            <td>Dr.Sukumaran M</td>
                        </tr>
                        <tr>
                            <td>Smt.Veena M</td>
                        </tr>
                        <tr>
                            <td>Dr.Vipin Chandran K.P</td>
                        </tr>
                        <tr>
                            <td>Sri. Laneesh. P</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">14. Accommadation Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr. Ummer K C</td>
                        </tr>
                        <tr>
                            <td rowspan="6">Members</td>
                            <td>Dr. Shiju George</td>
                        </tr>
                        <tr>
                            <td>Dr. Rajeevan P</td>
                        </tr>
                        <tr>
                            <td>Dr.Binu P.J</td>
                        </tr>
                        <tr>
                            <td>Ms. Roshini.T.K</td>
                        </tr>
                        <tr>
                            <td>Dr.Vipin Chandran K.P</td>
                        </tr>
                        <tr>
                            <td>Sri.Prasad S.B.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">15.  Green Campus Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Sri. Laneesh. P</td>
                        </tr>
                        <tr>
                            <td rowspan="9">Members</td>
                            <td>Dr. Francis. O.S</td>
                        </tr>
                        <tr>
                            <td>Dr.Ananda Krishnan Kunholathillath</td>
                        </tr>
                        <tr>
                            <td>Smt.Shyja K.P</td>
                        </tr>
                        <tr>
                            <td>Sri. Muhammed Shafeeq K C</td>
                        </tr>
                        <tr>
                            <td>Dr. Shanavas. P H</td>
                        </tr>
                        <tr>
                            <td>Dr. Josna Jacob</td>
                        </tr>
                        <tr>
                            <td>Dr. Sukumaran M </td>
                        </tr>
                        <tr>
                            <td>Dr. Rajesh. R </td>
                        </tr>
                        <tr>
                            <td>Dr.Nidheesh. K P </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">16. Technical Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr. Binu P J</td>
                        </tr>
                        <tr>
                            <td rowspan="6">Members</td>
                            <td>Dr. Francis. O.S</td>
                        </tr>
                        <tr>
                            <td>Dr. Shanavas. P H </td>
                        </tr>
                        <tr>
                            <td>Dr. Surabhi A K</td>
                        </tr>
                        <tr>
                            <td>Sri. Sirajuddeen P K </td>
                        </tr>
                        <tr>
                            <td>Ms. Roshni. T K </td>
                        </tr>
                        <tr>
                            <td>Smt. Thanseera. E</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead class="header_t">
                        <tr>
                            <th colspan="2">17.  IT Cell (Including Website)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>HoD (Computer Science)</td>
                        </tr>
                        <tr>
                            <td rowspan="5">Members</td>
                            <td>Dr. Nisha Nambiar</td>
                        </tr>
                        <tr>
                            <td>Ms. Roshini T.K</td>
                        </tr>
                        <tr>
                            <td>Dr. Rajesh. R </td>
                        </tr>
                        <tr>
                            <td>Sri. Sirajudeen P K </td>
                        </tr>
                        <tr>
                            <td>Dr.Riyas P</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">18.  Canteen Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Dr.Suhail P.K</td>
                        </tr>
                        <tr>
                            <td rowspan="5">Members</td>
                            <td>Sri. Sirajudeen P K
                            </td>
                        </tr>
                        <tr>
                            <td>Dr. Smitha K
                            </td>
                        </tr>
                        <tr>
                            <td>Smt. Sreekala V P
                            </td>
                        </tr>
                        <tr>
                            <td>Dr. Nidheesh. K P
                            </td>
                        </tr>
                        <tr>
                            <td>Sri. Purushothaman P V
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">19. Admission Committe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Convenor</td>
                            <td>Sri. Sirajuddeen P K</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="">
                <table class="styled-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">20. FYUGP Monitoring Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td rowspan="6">Members</td>
                        <td>Principal
                        </td>
                        </tr>
                        <tr>
                            <td>Vice Principal
                            </td>
                        </tr>
                        <tr>
                            <td>FYUGP Co-ordinator - Dr.Suhail P.K</td>
                        </tr>
                        <tr>
                            <td>Dr.Shanavas P.H</td>
                        </tr>
                        <tr>
                            <td>Dr.Francis O.S</td>
                        </tr>
                        <tr>
                            <td>IQAC Coordinator</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="overflow-x: auto;">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th colspan="2">21. FYUGP - Institutional Level Academic Committee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chairman</td>
                            <td class="bold-text">Dr. Chandramohanan K.T</td>
                        </tr>
                        <tr>
                            <td>Convenor</td>
                            <td class="bold-text">Dr. Suhail P.K</td>
                        </tr>
                        <tr>
                            <td rowspan="15">Members (Department Coordinators)</td>
                            <td>Dr. Surabhi A K</td>
                        </tr>
                        <tr>
                            <td>Dr. Vipin Chandran K P</td>
                        </tr>
                        <tr>
                            <td>Dr. Sindhu N</td>
                        </tr>
                        <tr>
                            <td>Smt. Veena M</td>
                        </tr>
                        <tr>
                            <td>Dr. Muhammed Sirajudheen K</td>
                        </tr>
                        <tr>
                            <td>Dr. Josna Jacob</td>
                        </tr>
                        <tr>
                            <td>Sri. Laneesh P</td>
                        </tr>
                        <tr>
                            <td>Dr. Shiju Goerge</td>
                        </tr>
                        <tr>
                            <td>Dr. Rajesh R</td>
                        </tr>
                        <tr>
                            <td>Dr. Anandakrishnan K</td>
                        </tr>
                        <tr>
                            <td>Dr. Shyamnath</td>
                        </tr>
                        <tr>
                            <td>Smt. Sreekala V P</td>
                        </tr>
                        <tr>
                            <td>Smt. Roshni C</td>
                        </tr>
                        <tr>
                            <td>Smt. Shyja K P</td>
                        </tr>
                        <tr>
                            <td>Sri. Sirajudheen P K</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">22. FYUGP Examination Monitoring Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chairman</td>
                        <td class="bold-text">Dr. Chandramohanan K T</td>
                    </tr>
                    <tr>
                        <td>Convenor</td>
                        <td class="bold-text">Dr. Suhail P.K</td>
                    </tr>
                    <tr>
                        <td rowspan="5">Members</td>
                        <td>Smt. Anjana P T</td>
                    </tr>
                    <tr>
                        <td>Dr. Shibu P</td>
                    </tr>
                    <tr>
                        <td>Sri. Sumesh</td>
                    </tr>
                    <tr>
                        <td>Vice President, PTA</td>
                    </tr>
                    <tr>
                        <td>Chairman, College Union</td>
                    </tr>
                </tbody>
            </table>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">23. Attendance Monitoring Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Rajeevan P</b></td>
                    </tr>
                    <tr>
                        <td rowspan="4">Members</td>
                        <td>Dr. Shiju George</td>
                    </tr>
                    <tr>
                        <td>Ms. Roshini T.K</td>
                    </tr>
                    <tr>
                        <td>Dr. Vipin Chandran K.P</td>
                    </tr>
                    <tr>
                        <td>Sri. Prasad S.B.</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">24. Tutorial Monitoring Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Smt. Shyja K.P</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Sri. Subhash P.P</td>
                    </tr>
                    <tr>
                        <td>Smt. Nikhila T.V</td>
                    </tr>
                    <tr>
                        <td>Sri. Sirajudeen P.K</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <!-- 25. Discipline Committee -->
            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2" ">25. Discipline Committee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Convenor</td>
                <td><b>Dr. Francis O.S</b></td>
            </tr>
            <tr>
                <td rowspan=" 6">Members</td>
                        <td>Dr. Smitha K</td>
                    </tr>
                    <tr>
                        <td>Dr. Shibu P</td>
                    </tr>
                    <tr>
                        <td>Dr. Rajeevan P</td>
                    </tr>
                    <tr>
                        <td>Dr. Josna Jacob</td>
                    </tr>
                    <tr>
                        <td>Dr. Surabhi A.K</td>
                    </tr>
                    <tr>
                        <td>Dr. Shyamnath K</td>
                    </tr>
                    </tbody>
            </table>

            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2" ">26. Asset Maintenance Committee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Convenor</td>
            <td><b>Dr. Muhammad Sirajudin K</b></td>
        </tr>
        <tr>
            <td rowspan=" 3">Members</td>
                        <td>Ms. Reeja Mekkara</td>
                    </tr>
                    <tr>
                        <td>Dr. Sukumaran M</td>
                    </tr>
                    <tr>
                        <td>Smt. Namratha Manoharan</td>
                    </tr>
                    </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">27. Placement, Career Guidance and Counseling Cell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Sri. Sirajuddeen P K</b></td>
                    </tr>
                    <tr>
                        <td rowspan="5">Members</td>
                        <td>Dr. Shiju George</td>
                    </tr>
                    <tr>
                        <td>Sri. Muhammed Shafeeq K.C</td>
                    </tr>
                    <tr>
                        <td>Smt. Anjana P T</td>
                    </tr>
                    <tr>
                        <td>Smt. Vineetha Vijayan (Co-ordinator, Jeevani)</td>
                    </tr>
                    <tr>
                        <td>Dr. Vipin Chandran K.P</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">28. Grievance Redressal Cell (CBCSS)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Shanavas P.H</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Smt. Anjana P T</td>
                    </tr>
                    <tr>
                        <td>Sri. Prasad S B</td>
                    </tr>
                    <tr>
                        <td>Dr. Suhail P.K</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">29. Red Ribbon Club</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Samrutha A V</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2">Members</td>
                        <td>Dr. Shibu P</td>
                    </tr>
                    <tr>
                        <td>Dr. Josna Jacob</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">30. Human Rights Club</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Smt. Sreekala V P</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Dr. Smitha K</td>
                    </tr>
                    <tr>
                        <td>Dr. Rajesh R</td>
                    </tr>
                    <tr>
                        <td>Ms. Reeja Mekkara</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">31. Extension Activities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Sandhya P</b></td>
                    </tr>
                    <tr>
                        <td rowspan="5">Members</td>
                        <td>Dr. Rajeevan P</td>
                    </tr>
                    <tr>
                        <td>Dr. Syamala Manicheri</td>
                    </tr>
                    <tr>
                        <td>Dr. Suhail P.K</td>
                    </tr>
                    <tr>
                        <td>Dr. Vipin Chandran K.P</td>
                    </tr>
                    <tr>
                        <td>Sri. Prasad S B</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">32. Remedial Course</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Ganeshan V</b></td>
                    </tr>
                    <tr>
                        <td>Members</td>
                        <td>All HODs</td>
                    </tr>
                </tbody>
            </table>

            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">33. Students Relation Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Josna Jacob</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Smt. Vineetha P Nair</td>
                    </tr>
                    <tr>
                        <td>Sri. Muhammad Sirajudin K</td>
                    </tr>
                    <tr>
                        <td>Sri. Laneesh P</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">34. Research Forum (for Research Centre)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. K P Vipin Chandran</b></td>
                    </tr>
                    <tr>
                        <td rowspan="5">Members</td>
                        <td>Dr. C P Santhosh</td>
                    </tr>
                    <tr>
                        <td>Dr. Francis O S</td>
                    </tr>
                    <tr>
                        <td>Dr. Sukumaran M</td>
                    </tr>
                    <tr>
                        <td>Dr. Syamala Manicheri</td>
                    </tr>
                    <tr>
                        <td>Dr. Surabhi A K</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">35. Tourism Club</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Sri. Prasad S B</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Dr. Rajeevan P</td>
                    </tr>
                    <tr>
                        <td>Dr. Suhail P K</td>
                    </tr>
                    <tr>
                        <td>Smt. Shyja K P</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">36. Equal Opportunity Centre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Smt. Preeshi K</b></td>
                    </tr>
                    <tr>
                        <td rowspan="2">Members</td>
                        <td>Dr. Rajeevan P</td>
                    </tr>
                    <tr>
                        <td>Dr. Nidheesh K P</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">37. Ethics Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Dr. Sindhu N</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Dr. Josna Jacob</td>
                    </tr>
                    <tr>
                        <td>Dr. Samritha A V</td>
                    </tr>
                    <tr>
                        <td>Smt. Sreekala V P</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">38. Student-Teacher Assessment Evaluation Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Sri. Sirajudeen P K</b></td>
                    </tr>
                    <tr>
                        <td>Members</td>
                        <td>Dr. Shanavas P H</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">39. Scholarship Committee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Convenor</td>
                        <td><b>Sri. Muhammad Shafeeq K C</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Smt. Vineetha Vijayan N</td>
                    </tr>
                    <tr>
                        <td>Smt. Veena M</td>
                    </tr>
                    <tr>
                        <td>Sri. Prasad S B</td>
                    </tr>
                </tbody>
            </table>

            <br>


            <table class="styled-table">
                <thead>
                    <tr>
                        <th colspan="2">40. Orice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><b>a) Teacher Coordinator</b></td>
                    </tr>
                    <tr>
                        <td>Coordinator</td>
                        <td><b>Sri. Jaison P K</b></td>
                    </tr>
                    <tr>
                        <td rowspan="3">Members</td>
                        <td>Dr. Francis O S</td>
                    </tr>
                    <tr>
                        <td>Ms. Roshini T K</td>
                    </tr>
                    <tr>
                        <td>Smt. Surabhi A K</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>b) Student Coordinators</b></td>
                    </tr>
                    <tr>
                        <td>Student from Language</td>
                        <td>Kum. Ardra P, II M.A. English</td>
                    </tr>
                    <tr>
                        <td>Student from Humanities</td>
                        <td>Kum. Sandra C, III B.A. History</td>
                    </tr>
                    <tr>
                        <td>Student from Science</td>
                        <td>Kum. Chinmayi, III B.Sc. Physics</td>
                    </tr>
                </tbody>
            </table>
            <table class="styled-table">
                <tr>
                    <th colspan="2">41. Hostel Welfare Committee</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Syamala Manicheri</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Smt. Veena M <br>
                        Dr. Shyamnath.K <br>
                        Smt. Mridula. M
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">42. Alumnae Association</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Samritha. A.V</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. Smitha K <br>
                        Ms. Roshini T.K <br>
                        Dr. Francis. O.S <br>
                        Smt. Namratha Manoharan
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">43. Library Advisory Committee</th>
                </tr>
                <tr>
                    <td>Chairman</td>
                    <td><strong>Principal</strong></td>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td>Librarian</td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. C P Santhosh <br>
                        Dr. Francis. O.S <br>
                        Dr. Ananda Krishnan Kunholathillath <br>
                        Dr. Shanavas P.H
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">44. Research Journal Editorial Board</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Francis. O.S</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. C P Santhosh <br>
                        Dr. Nidheesh. K P <br>
                        Dr. Shanavas P.H <br>
                        Dr. Biju P J <br>
                        Dr. Surabhi A K <br>
                        Dr. Vipin Chandran K.P
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">45. News Letter-Editorial Board</th>
                </tr>
                <tr>
                    <td>Editor</td>
                    <td><strong>Dr. Shiju George</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. Nisha Nambiar <br>
                        Dr. Sindhu N
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">46. N.S.S Advisory Committee</th>
                </tr>
                <tr>
                    <td>Chairman</td>
                    <td><strong>Principal</strong></td>
                </tr>
                <tr>
                    <td>Programme Officers</td>
                    <td>
                        Dr. Nidheesh. K P <br>
                        <strong>Smt. Namratha Manoharan</strong> <br>
                        Sri. Prasad S B <br>
                        Dr. Vinayan T <br>
                        Dr. Vipin Chandran.K.P <br>
                        Corporation Councilor
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">47. Sports Development Committee</th>
                </tr>
                <tr>
                    <td>Chairman</td>
                    <td><strong>Principal</strong></td>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Shyamnath.K</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. Sukumaran M <br>
                        Dr. Shanavas P.H <br>
                        Smt. Vineetha. P. Nair
                    </td>
                </tr>
            </table>
            <table class="styled-table">
                <tr>
                    <th colspan="2">48. Committee For SC/ST</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Sukumaran M</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. Rajeevan P <br>
                        Smt. Preeshi. K.
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">49. Minority Cell</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Ummer K C</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Sri. Sirajudeen P K <br>
                        Sri. Muhammed Shafeeq K C <br>
                        Dr. Muhammad Sirajudin K <br>
                        Smt. Thanseera. E
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">50. OBC Cell</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Smt. Sreekala V P</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. Samritha. A.V <br>
                        Smt. Shyja K.P <br>
                        Dr. Shyamala Manicheri <br>
                        Sri. Sumesh. P V
                    </td>
                </tr>
            </table>
            <table class="styled-table">
                <tr>
                    <th colspan="2">51. YIP - Young Innovators Programme</th>
                </tr>
                <tr>
                    <td>Convenor</td>
                    <td><strong>Dr. Vipin Chandran K.P</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Dr. Rajeevan P <br>
                        Dr. Surabhi A.K
                    </td>
                </tr>
            </table>

            <table class="styled-table">
                <tr>
                    <th colspan="2">52. Store Committee</th>
                </tr>
                <tr>
                    <td>Secretary</td>
                    <td><strong>Smt. Vineetha P Nair</strong></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td>
                        Sri. Sirajuddeen P.K <br>
                        Dr. Sandhya P <br>
                        Smt. Shyja K.P <br>
                        Sri. Manoharan K
                    </td>
                </tr>
            </table>

            <div style="overflow-x: auto;">
                <table class="styled-table">
                    <tr>
                        <th colspan="3">53. College Development Committee</th>
                    </tr>
                    <tr>
                        <td>Convenor</td>
                        <td colspan="2"><strong>Dr. Narayanan M</strong></td>
                    </tr>
                    <tr>
                        <th colspan="3">Co-ordinators</th>
                    </tr>
                    <tr>
                        <th>Sl. No.</th>
                        <th>Role</th>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Coordinator, IQAC</td>
                        <td>Dr. Nisha Nambiar</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Course Co-ordinator CBCSS</td>
                        <td>Ms. Roshnini T K</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Coordinator, ASAP</td>
                        <td>Smt. Nikhila T.V</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Nodal Officer IT Mission</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Nodal Officer, Biometric Punching</td>
                        <td>Ms. Roshini T.K</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Nodal Officer, Admission</td>
                        <td>Sri. Sirajuddeen P K</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Co-ordinator, RUSA</td>
                        <td>Dr. Shiju George</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Nodal Officer All India Survey on Higher Education</td>
                        <td>Dr. Ananda Krishnan Kunholathillath</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Nodal Officer, Entry in Services</td>
                        <td>Sri. Jaison P.K</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Nodal Officer, UGC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Nodal Officer, Scholarship</td>
                        <td>Sri. Muhammed Shafeeq K C</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Public Information Officer</td>
                        <td>Dr. Francis O.S</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Nodal Officer, Green Campus</td>
                        <td>Sri. Laneesh P</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Nodal Officer, KIIFB</td>
                        <td>Dr. C.P. Santhosh</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>EWYL (Earn While You Learn)</td>
                        <td>Dr. Sandhya P</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Co-ordinator, FYUGP</td>
                        <td>Dr. Suhail P.K</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Hunger Free Campus</td>
                        <td>Smt. Namratha Manoharan</td>
                    </tr>
                    <tr>
                        <td>Students Welfare in Charge</td>
                        <td colspan="2"><strong>Dr. Sandhya P</strong></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}