{% extends "admin_header.html" %}
{% block content %}
    {% load static %}
    <body class="edit-body">
        <div class="edit-formcon">
            <h1>Create News Article</h1>
            {% if errors %}
                <div style="color: red">
                    {% for field, error_list in errors.items %}<p>{{ field }}: {{ error_list.0 }}</p>{% endfor %}
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="title">Title:</label>
                <input class="inp"
                       type="text"
                       id="title"
                       name="title"
                       value="{{ data.title|default:'' }}"
                       required />
                <label for="description">Description:</label>
                <textarea class="inp tarea" id="description" name="description" required>
{{ data.description|default:'' }}</textarea>
                <label for="photos">Photos (multiple):</label>
                <input type="file"
                       id="photos"
                       name="photos"
                       accept=".jpg,.jpeg,.png,.webp"
                       multiple
                       required />
                <label for="date">Date:</label>
                <input type="date"
                       id="date"
                       name="date"
                       value="{{ data.date|default:''|default:None }}"
                       required />
                <button type="submit">Create</button>
            </form>
            <a href="{% url 'news_list' %}" class="btn-edit btn">Back to List</a>
        </div>
    {% endblock %}
</body>
