{% extends "admin_header.html" %} {% block content %} {% load static %}

<body class="edit-body">
  <div class="edit-formcon">
    <h1>Create Department</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="Name">Name:</label>
      <input class="inp" type="text" id="name" name="name" required />
      <label for="description">Description:</label>
      <textarea
        class="inp tarea"
        id="description"
        name="description"
        required
      ></textarea>
      <label for="photos">Photos:</label>
      <label for="photos">Photo</label>
      <input type="file" id="photos" name="photos" accept="image/*" multiple />
      <button type="Submit">Submit</button>
    </form>
    <a href="{% url 'department_list' %}" class="btn-edit btn">Back to List</a>
  </div>
  {% endblock %}
</body>
