{% extends "admin_header.html" %} {% block content %} {% load static %}
<body class="edit-body">
  <div class="edit-formcon">
    <h2>Employee Form</h2>
    <form id="employeeForm" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="name">Name:</label>
      <input class="inp" type="text" id="name" name="name" required />

      <label for="position">Position:</label>
      <select class="inp" id="position" name="position">
        <option value="Head Of Department">Head Of Department</option>
        <option value="Professor">Professor</option>
        <option value="Associate Professor">Associate Professor</option>
        <option value="Assistant Professor">Assistant Professor</option>
        <option value="Visiting Faculty">Visiting Faculty</option>
        <option value="Office Staff">Office Staff</option>
        {% comment %}
        <option value="Library">Library</option>
        {% endcomment %}
      </select>
      <label for="department">Department:</label> 
      <select class="inp" id="department" name="department">
        {% for dept in departments %}
          <option value="{{ dept.id }}">{{ dept.name }}</option>
        {% empty %}
          <option value="">No Departments Available</option>
        {% endfor %}
      </select>


      <label for="photo">Photo:</label>
      <input
        class="inp"
        type="file"
        id="photo"
        name="photo"
        accept="image/*"
        required
      />

      <label for="qualification">Qualification:</label>
      <textarea
        id="qualification"
        name="qualification"
        rows="4"
        required
        class="inp tarea"
      ></textarea>
      <button type="Submit" value="Submit">Create</button>
    </form>
    <a href="{% url 'employee_list' %}" class="btn-edit btn">Back to List</a>
  </div>
  {% endblock %}
</body>
