{% extends "admin_header.html" %} {% block content %} {% load static %}

<body class="edit-body">
    <div class="edit-formcon">
        <h2>Create Student Satisfaction</h2>

        {% if errors %}
        <div class="error-msg">
            {% for field, error_list in errors.items %}
            <p>{{ field|capfirst }}: {{ error_list.0 }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Name:</label>
            <input
                class="inp"
                type="text"
                name="name"
                value="{{ data.name }}"
                required
            />

            <label>Upload PDF:</label>
            <input
                class="inp"
                type="file"
                name="pdf"
                accept="application/pdf"
                required
            />

            <button type="submit">Create</button>
        </form>

        <a href="{% url 'student_satisfaction_list' %}" class="btn-edit btn"
            >Back to List</a
        >
    </div>
</body>

{% endblock %}
