{% extends "admin_header.html" %} {% block content %} {% load static %}
<body class="edit-body">
  <div class="edit-formcon">
    <h2>Activity Form</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="name">Activity:</label>
      <input type="text" name="name" id="name" value="{{ activity.name }}" required>
      <label for="department">Department:</label> 
      <select class="inp" id="department" name="department">
        {% for dept in departments %}
          <option value="{{ dept.id }}">{{ dept.name }}</option>
        {% empty %}
          <option value="">No activities Available</option>
        {% endfor %}
      </select>
      <label for="photo">Photo:</label>
      <input
        class="inp"
        type="file"
        id="photo"
        name="photo"
        accept="image/*"
        required
      />
      <button type="Submit" value="Submit">Create</button>
    </form>
    <a href="{% url 'activity_list' %}" class="btn-edit btn">Back to List</a>
  </div>
  {% endblock %}
</body>
