{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Endowements</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
       <p>
        The college has endowments instituted by the Parent-Teacher Association (PTA) and Alumni Association. The PTA has two endowments – one for the first two top scorers in each programme and the other, ‘Prof. C. P. Prabhakaran – Dr. P. Surendran Memorial Endowment for the topper in Economics at UG and PG levels.
       </p>
       <table class="styled-table" style="width:100%;    border-collapse: inherit;">
        <thead class="header_t">
          <tr>
            <th>Name of the Endowment</th>
            <th>Year of Institution</th>
            <th>Awardee Selection Criterion</th>
            <th>No. of Students Benefited per year</th>
           </tr>
        </thead>
       <tbody>
         <tr>
              <td>PTA Merit Endowment</td>
           <td>1992</td>
           <td>First two top scorers in University Examination in each programme</td>
           <td>22</td>
         </tr>
         <tr>
              <td>Prof. C. P. Prabhakaran – Dr. P. Surendran Memorial Endowment</td>
           <td>2016</td>
           <td>Toppers in UG and PG Economics</td>
           <td>2</td>
         </tr>
         <tr>
              <td>Alumni Merit Endowment</td>
           <td>2016</td>
           <td>First two top scorers in University Examination in each programme</td>
           <td>22</td>
         </tr>
        
      </tbody>
    </table>
      </div>
    </div>
</div>

{% endblock %}