{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Earn While You Learn (EWYL)</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
       <p>
        The Earn While You Learn (EWYL) scheme, introduced by the Higher Education Department of the 
        Government of Kerala, is an innovative initiative aimed at fostering a value-driven and 
        skill-oriented educational community. It equips students with vocational skills, encourages 
        saving habits, and promotes financial independence, bridging the gap between academic learning 
        and real-world application. The project operates on a cyclical model, intertwining learning 
        with work, leading to economic self-sufficiency and creating a positive financial ripple 
        effect in society. By enabling students to discover their hidden talents and pursue activities 
        aligned with their abilities, EWYL lays the foundation for a secure and self-reliant future. 
        The ultimate goal of EWYL is to transform Kerala's knowledge society into a robust knowledge 
        economy, driving holistic societal development. As a pioneering step towards addressing 
        unemployment in a state renowned for its literacy, EWYL is a powerful tool for shaping a 
        cohesive, progressive future.
       </p>
      </div>
    </div>
</div>

{% endblock %}