{% extends "header.html" %}
{% block content %}
{% load static %}

<div class="container banner">
  <div class="heading">Exam Notification</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container column-flex">
      <div class="bold-head">{{ exam.title }}</div>
      <div class="article">{{ exam.description }}</div>

      {% if exam.file %}
        <a href="{{ exam.file.url }}" class="btn fill" download>
          <img src="{% static 'assets/download_white.svg' %}" alt="" />
          <div class="btn-add">Download File</div>
        </a>
      {% else %}
        <div class="btn-add">No file available</div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
