{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Exam</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
      </div>
      <div class="small-container">
        <p>
            The college is affiliated to Kannur University and the end semester examinations are conducted as per the 
            schedule provided by the university. The question papers and answer scripts are supplied by the university 
            and the college conducts examination by following all the guidelines issues by the university. 
        </p>
        
        <p>University Examination Calendar Webpage Link:</p> 
        <a href="https://www.kannuruniversity.ac.in/en/infodesk/calendar/academic-calendar" target="-blanck"> https://www.kannuruniversity.ac.in/en/infodesk/calendar/academic-calendar </a> 

      </div>
    </div>
</div>
</div>
{% endblock %}