{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Feedback</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
        <ul class="list-3">
            <li>
                <a href="kmmadmin/feedback/Feedback%202020-21.pdf" target="_blank">Feedback 2020-21</a>
            </li>
            <li><a href="kmmadmin/feedback/Feedback%20Action%20taken%20Reports.pdf" target="_blank">Feedback Action taken Reports</a>
            </li>                                                         
     </ul>
      </div>
    </div>
</div>

{% endblock %}