
{% extends "header.html" %} 
{% block content %} 
{% load static %}

<div class="container banner">
  <div class="heading">Feedback</div>
</div>

<div class="container">
  <div class="sec-container">
    {% for feedback in feedbacks %}
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">{{ feedback.name }}</div>
      </div>
      <div class="button-style">
        <!-- View Button -->
        <a href="{{ feedback.pdf.url }}" class="btn outline" target="_blank">
          View
        </a>

        <!-- Download Button -->
        <a href="{{ feedback.pdf.url }}" class="btn outline" download>
          <img src="{% static 'assets/download_black.svg' %}" alt="" /> Download
        </a>
      </div>
    </div>
    {% empty %}
    <p>No Feedback available.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
