{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <!-- <div class="heading">FYUGP Major Courses and syllabus</div> -->
  <div class="heading">Four Year Under Graduate Programme (FYUGP)</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container">  
      <h4>Three Types of Degree Programmes</h4>
      <div style="margin-left: 20px;">
      <ul>
        <li>
          Three Year UG Degree
        </li>
        <li>
          Four Year UG (Honours) Degree
        </li>
        <li>
          Four Year UG(Honours) with Research Degree
        </li>
      </ul>
    </div>
    <h4>Programme Pathways </h4>
    <div style="margin-left: 20px;">
      <ul>
        <li>
          Degree (Single Major)
        </li>
        <li>
          Degree (Major with Minor)
        </li>
        <li>
          Degree (Major with Multiple Disciplines)
        </li>
      </ul>
    </div>
    <h4>UG Programmes and Courses Offered by Us</h4>
    <div style="margin-left: 20px;">
      <ol>
        <li>
         Four Year Honours with Research & Honours Programmes
         <ul>
          <li>B.A Economics (A Batch & B Batch)</li>
          <li>B.A English Language and Literature</li>
          <li>B.A History</li>
          <li>B.A Malayalam</li>
          <li>B.Sc. Mathematics</li>
          <li>B.Sc. Physics</li>
          <li>B.Sc. Chemistry</li>
         </ul>
        </li>
        <li>
          Minor & Foundation Courses
          <ul>
           <li>Arabic</li>
           <li>Chemistry</li>
           <li>Computer Science</li>
           <li>Economics</li>
           <li>English</li>
           <li>Hindi</li>
           <li>History</li>
           <li>Journalism</li>
           <li>Malayalam</li>
           <li>Mathematics</li>
           <li>Physical Education</li>
           <li>Physics</li>
           <li>Political Science</li>
           <li>Sanskrit</li>
           <li>Statistics</li>
          </ul>
         </li>
      </ol>
    </div>
    <h4>FYUGP at a Glance</h4>
    <div style="margin-left: 20px;">
      <ul>
        <li>Vast opportunities for flexibility and choices for student learning and research</li>
        <li>Students shall be permitted to change their major at the end of second semester</li>
        <li>Upon completion of the 4year honours degree, students will be eligible to complete a PG in one year</li>
        <li>Direct admission to PhD Programme is available for Honours with research degree holders</li>
        <li>All students shall undergo a Field Trip/Summer Internship/Apprenticeship</li>
      </ul>
    </div>
      
    <!-- <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BCA Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BCA Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BA Functional English Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BA Functional English Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Botany Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Botany Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Chemistry Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Chemistry Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Computer Science Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Computer Science Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Mathematics Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Mathematics Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Physics Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Physics Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Psychology Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Psychology Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BSc Zoology Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BSc Zoology Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">Bcom Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/Bcom Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">BBA Honours</div>
      </div>
      <a
        href="{% static 'assets/syllabus/BBA Honours.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg' %}" alt="" />syllabus
      </a>
    </div> -->
    </div>
  </div>
</div>

{% endblock %}
