{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Grievances & Redressal</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
       <p>
        The College has a Grievance Redressal Cell to redress the grievances of its stakeholders. The cell enables a student to express feelings by initiating and pursuing the grievance procedure in accordance with the rules and regulations of the college. Grievance Redressal Cell enquires and analyses the nature and pattern of the grievances in a strictly confidential manner. The basic objective of the Grievance Redressal cell is to develop a responsive and accountable attitude among all the stakeholders in order to maintain a harmonious educational atmosphere in the College.
       </p>
       <p>
        A Grievance Cell should be constituted for the redressal of the problems reported by the Students of the College with the following objectives:
       </p>
       <ul>
        <li>
            Encouraging the Students to express their grievances / problems freely and frankly, without any fear of being victimized.
        </li>
         <li>
            Suggestion / complaint Box is installed in front of the Administrative Block in which the students, who want to remain anonymous, put in writing their grievances and their suggestions for improving the Academics / Administration in the College.
        </li>  
        <li>
            Ragging in any form is strictly prohibited in and outside the institution. Any violation of ragging and disciplinary rules should be urgently brought to the notice of the Principal.
        </li>
       </ul>
       <table class="styled-table">
        <thead>
            <tr>
                <th colspan="2">Grievance Redressal Cell  </th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Convenor </td><td style="font-weight: bold;">Dr.Surabhi A.K </td></tr>
            <tr><td  rowspan="2">Members </td><td>Dr. Nisha Nambiar </td></tr>
            <tr><td>Dr.Sandhya.P  </td></tr>
        </tbody>
       </table>
       <table class="styled-table">
        <thead>
            <tr>
                <th colspan="2">Grievance Redressal Cell (CBCSS) </th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Convenor </td><td style="font-weight: bold;">Dr. Shanavas P.H</td></tr>
            <tr><td  rowspan="3">Members </td><td>Smt. Anjana P T </td></tr>
            <tr><td>Sri. Prasad. S B </td></tr>
            <tr><td>Dr.Suhail P.K </td></tr>
        </tbody>
       </table>
      </div>
    </div>
</div>

{% endblock %}