{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">IQAC (Internal Quality Assurance Cell)</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Santhosh C. P.</div>
      <div class="light">Principal</div>
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Nisha Nambiar</div>
      <div class="light">IQAC Coordinator</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Santhosh C P</div>
      <div class="light">Vice Principal</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c"> Dr.Narayanan P</div>
      <div class="light">NAAC Coordinator</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Francis. O.S</div>
      <!-- <div class="light">Dept of Chemistry (Member)</div> -->
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Ananda Krishnan Kunholathillath</div>
      <div class="light">Nodal officer , AISHE</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Shanavas. P H</div>
      <!-- <div class="light">Dept of Hindi (Member)</div> -->
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr. Sukumaran M</div>
      <div class="light">PTA Secretary</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr.Samritha A.V</div>
      <div class="light">Alumne Representative</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr.Binu.P.J</div>
      <!-- <div class="light">Dept of Psychology (Member)</div> -->
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr.Vipin Chandran.K.P</div>
      <!-- <div class="light">Dept of Commerce (Member)</div> -->
    </div>

    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr.Shibu P</div>
      <div class="light">Incharge of Placement</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Dr.Riyas P</div>
      <!-- <div class="light">Alumne Representative</div> -->
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Sri.Sethunath N.K</div>
      <div class="light">Psychologist</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">Adv. P. Indira</div>
      <div class="light">Corporation Deputy Mayor</div>
    </div>
    <div class="small-container flex-just-start flex-c list">
      <img class="img-small" src="{% static 'assets/user.png' %}" alt="" />
      <div class="c">College Union chairman</div>
      <div class="light">Student Representative</div>
    </div>
  </div>
</div>

{% endblock %}
