{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">IQAC-Activities</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
      <p>
        The activities of the IQAC of KMMGWC include preparation of the Annual Quality Assurance Report (AQAR) to be submitted 
        to NAAC, based on certain quality parameters. It oversees the dissemination of information on the various quality 
        parameters of higher education. Other activities like organization of workshops, seminars on quality related themes 
        and promotion of quality circles are also carried out by the IQAC. The main objective of the cell is to plan and 
        implement quality initiatives and evaluate and conducts regular meetings with quality agenda and maintains its 
        proceedings.
      </p>
    </div>
  </div>
</div>

{% endblock %}
