{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">IT Facility</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">IT Facility</div>
        </div>
      </div>  
      <div class="small-container">                 
        <p>The campus has Wi-Fi facility with a 200 Mbps broadband connection which makes accessing online materials 
            easier. Six wireless access points are installed in various parts of the campus for providing internet 
            access facility to staff and students. Each wireless access point can connect upto 100 concurrent users. 
            Wired Internet facility is made available in the whole campus. All computers in the departments, class rooms, 
            computer lab, office, library and hostel are connected through LAN using optical fibre connectivity among the
             blocks. 
        </p>
        
         <p>  The old and worn-out cabling and LAN equipment were replaced for better performance during 2015-16. A dedicated
             server, firewall, and sevenmanaged switches are installed as part of campus networking.</p>
         
<p>  ICT enabled classrooms are equipped with networked desktop computer, smartboard, projector, lectern and UPS. 
    All departments are provided with desktop computers with internet access and printer.With a fully networked campus, 
    the high-speed internet facility is extensively used for knowledge-updating,both by the faculty and the students. </p>
         
         <p>  Computer laboratories are equipped with desktop computers with the latest configuration and software as per 
            requirements of the curriculum. All the softwares used are kept updated to ensure security and protection from 
            malware</p>  
          
         <p>  The college library is fully automated and students can access online resources. Students and faculty have 
            access to the resources of INFLIBNET. Various courses from Coursera on Campus are also made accessible to staff 
            and students.</p>  
         
         <p>  The college website is maintained and upgraded regularly under an annual maintenance contract. The website 
            was updatedin 2019  to make it mobile friendly. The website is regularly updated for effective communication 
            and information sharing among all the stake holders.</p>  
         
         <p>An installation of the latest version of Moodle learning management system is currently being used as the 
            college LMS. All students and teachers are enrolled in the LMS and the course materials for every course is 
            now readily available to students on the LMS platform. Currently, there are more than 100 courses in college 
            LMS.</p>
         
         <p>  All the staff and students are provided with an institute mail id with unlimited storage space.</p>  
         
         <p>  The social media apps - WhatsApp and Telegram- provide an efficient one-to-one platform keeping every student 
            and staff of the college well connected. Each group is monitored and kept updated by providing quick, easy and 
            instant communication.</p>  
         
         <p>  The College maintains a YouTube channel wherein videos of various programmes, lectures and video tutorials are 
            uploaded.</p>  
         
         <p>  All examination halls, entrance/exit and corridors in the campus are under CCTV surveillance with 34 CCTV cameras 
            andthreehubs.</p>  
         
         <p>  Three biometric punching terminals are available in the campus for the Centralized Attendance Management of the 
            teachers and the non-teaching staff.</p>  
         
         <p>  The college has a central public address system with nodes on all classrooms and staffrooms.</p>  
         
         <p>  During the pandemic period, the college ensured access to online learning facilities for all the students by 
            providing mobile phones to needy students.
         </p>  
      </div>
        <div class="flex gap full">
            <div class="small-container flex-just-start">
              <div class="head-big">Photo Gallary</div>
            </div>
          </div>
          <div class="small-container imgbox">
          </div>
</div>
</div>
</div>
{% endblock %}