{% extends "header.html" %}
{% load static %}
{% block content %}

<div class="container banner">
  <div class="heading">Jeevani</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
        <p>
            Youth is the formative period where habits, coping mechanisms, and emotional patterns 
            are established. Good mental health plays a crucial role at this stage in their overall 
            development, academic performance, and future well-being. Realising the significance 
            and reveance of mental health and well being, the Directorate of Collegiate Education, 
            Government of Kerala set up Jeevanic Centre for Students' Wellbeing across the state 
            to reach out to college students. The centre has a counselling psychologist who offers 
            guidance and support to students facing various conflicts. Jeevani conducts diverse 
            awareness classes, training programmes and workshops to help students navigate through 
            academic and life challenges. 
        </p>
    </div>
</div>
</div>

{% endblock %}