{% extends "header.html" %}{% block content %}
<div class="container banner">
    <div class="heading">Library</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Library</div>
        </div>
      </div>
      <div class="small-container">
        <p>
            The College General library was established in 1975 with total carpet area of 64x32 x2 sq.ft and 
            seating capacity of seventy five. The library has a noteworthy collection of printed books in language 
            and literature, humanities, social science and science. The library maintains reading and reference sections
            . It remains open on all working days from 9.00 a.m. to 5p.m. Recently,individual department library 
            collections were shifted to general library for better library management and user convenience. However,
             certain departments maintain their own reference library.
        </p>
        <p>
            The Library is well furnished with more than 48000 printed books, 16 journals and 24 magazines, manuscripts,
             along with numerous CDs and DVDs. New books in the library are displayed on the new arrivals racks for two weeks
              for visibility. Open access facility is provided to students, research scholars and faculty members. Remote
               access to e-resources to students, researchers, and faculty members is provided through N-LIST of UGC 
               INFLIBNET(eShodhSindhu) which provides more than 6000 e-journals and 1,95,000 e-books. The general library
                subscribes leading newspapers and periodicals in Malayalam and English. A collection of Braille materialsis
                 maintained for the visually impaired students.
        </p>
        <p>
            The library was fully automated in 2012 using the Open Source Library Integrated System- Koha and the latest 
            version of 21.05 is being used now. Automation tools include authority control, data enrichment, public access 
            catalogues, and circulation. Dewey Decimal Classification system is used for the classification of books. 
            Anglo American Cataloguing Rules II is used for the preparation of the library catalogue. Online Public Access 
            Catalogue is available for search, and it is available in the College Library website, which facilitates members
             of the library to access information on the availability of books, due date, etc. Multiple node OPAC facility 
             provided in the library ensures productive time management. The links for freely available e-resources, including
              e-journals, e-books, audio books, Shodhganga, NDLTD, NDLI, Kerala Sahitya Academy, internet archive, various 
              databases and other online learning platforms are listed in the website.
        </p>
        <p>
            A good collection of question papers is available at the library for reference purposes. The General Library 
            has conducted awareness programmes about open access online resources, reference assistance, referral services, 
            Current Awareness Services (CAS), Selective Dissemination of Information (SDI) to students every year. The library
             is computerised, and barcode is implemented for issue and return of books. The library is equipped with four 
             computers including one server system, printer, photocopy machine and bar code printer. The library has e-resource 
             corner with two computers to access online resources. Provision to use personal laptops is also available. The 
             printouts of the documents are provided to the students and research scholars at concessional rates.
        </p>
        <h4>Library Timing</h4>
        <p>
            The library shall remain closed on all public and national holidays, Second Saturdays, Sundays and any other holidays
             declared by the state government from time to time. The working time of the library is from 09.30 am to 5pm.
        </p>
        <h4>
            Lending of books
        </h4>
        <p>
            Members are eligible to borrower’s books as mentioned below.
        </p>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Category</th>
                        <th>No. of Books</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>PG Students</td><td>4</td></tr>
                    <tr><td>2</td><td>UG Students</td><td>3</td></tr>
                    <tr><td>3</td><td>Faculty Members</td><td>6</td></tr>
                    <tr><td>4</td><td>Non-Teaching</td><td>3</td></tr>
                    <tr><td>5</td><td>Research Scholars</td><td>-</td></tr>
                </tbody>
            </table>
        <h4>Library Advisory Committee</h4>
        <p>
            A library advisory committee is constituted with Principal, 
            five HOD's and Librarian. The following are the members of the library committee.
        </p>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Chairman</th>
                    <th>Principal</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Scretary</th>
                    <th>Librarian</th>
                </tr>
            </thead>
            <tbody>
                <tr><td rowspan="4">Members</td><td>Dr. C P Santhosh </td></tr>
                <tr><td>Dr. Francis. O.S</td></tr>
                <tr><td>Dr.Ananda Krishnan Kunholathillath </td></tr>
                <tr><td>Dr. Shanavas P.H </td></tr>
            </tbody>
        </table>
        <h4>Main Features of the Library</h4>
        <ul>
            <li class="cat-item cat-item-6">
                 <p>Automated Library</p>
                 <p>The library is fully automated using the Open Source Library Integrated System
                Koha. Automation tools include Authority control, Data enrichment, Public access catalogs, and Circulation.
                Krishna Menon College Library fully automated in 2012, Sri. Abdullakkutty MLA’s Special Development Fund.
                This projects successfully completed by the Database, Trivandrum (GSR Software and BPO Pvt.Ltd)
                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Open access</p>
                 <p>The Library is a fully Open Access, library with bay guides and other sign boards 
                    leading users to the concerned document. It ensures the users to save their time and
                     usage of documents available in the library.

                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Library Collection</p>
                 <p>The library has a collection of 48000 books, Braily materials, 100 CD's and DVD's, 50 
                    journals, popular magazines and back volumes (Including all Departments) Library has a very 
                    good collection of ready reference materials.

                </p>
            </li>
             <li class="cat-item cat-item-6">
                 <a href="#" target="blank"><b>OPAC</b></a><br>
                 <a href="#" target="blank"><h6>Follow this link to access OPAC within College Network</h6></a>
                 <p>
                    The library has KOHA, OPAC (Online Public Access Catalogue) facility on the Internet and intranet 
                    within the college library.
                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Reservation of Books</p>
                 <p>
                    Reservation of books is open to all the members of the library. A member ca reserve two books at a time. 
                    Reservation is possible only for those books that are issued out. Once the book in reservation has been 
                    returned to the library, due intimation would be sent to the reserver permitting a period of maximum ten 
                    days to collect the same, failing which the book would be issued to the next member.
                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Purchase of Books and Periodicals</p>
                 <p>
                    Books and periodicals are purchased in the main library. After accessioning and technical process they
                     are transferred to the respective departments and entry is also done there.

                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Technical Process</p>
                 <p>
                    Classification: Dewey Decimal Classification system is used for the classification of books. 
                    Classification of books helps the user to select the books easily from the total collection.
                    Cataloguing : Anglo American Cataloging Rules II is used for the preparation of the library catalogue.

                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Question Paper Bank</p>
                 <p>
                    A collection of old question papers is available at the library for reference and copying.

                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Reprography services</p>
                 <p>
                    A Reprographic centre is attached to the Library with high performance photocopy machines. 
                    This service is open to all students and staff members of the college at a concessional rate.
                </p>
            </li>
            <li class="cat-item cat-item-6">
                 <p>Reference &amp; Referral Services</p>
                 <p>
                   Library has a fully equipped reference collection including dictionaries, encyclopedias, yearbooks, etc..

                </p>
            </li>
        </ul>
        <div class="flex gap full">
            <div class="small-container flex-just-start">
              <div class="head-big">Photo Gallary</div>
            </div>
          </div>
          <div class="small-container">
          </div>
</div>
</div>
</div>
{% endblock %}