{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">Minutes</div>
</div>

<div class="container">
  <div class="sec-container">
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">IQAC MINUTES 2020-2021.pdf</div>
      </div>
      <a
        href="{% static 'assets/form/LEAVE_FORM.pdf'%}"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Download
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">IQAC-MINUTES-2019-20.pdf</div>
      </div>
      <a href="{% static 'assets/form/TC.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Download
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">IQAC-MINUTES-2018-19.pdf</div>
      </div>
      <a href="{% static 'assets/form/PM.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Download
      </a>
    </div>
      <!-- <ul class="list-3">
        <li>
          <a href="kmmadmin/minutss/IQAC%20MINUTES%202020-2021.pdf" target="_blank">IQAC MINUTES 2020-2021.pdf</a>
        </li>
        <li>
          <a href="kmmadmin/minutss/IQAC-MINUTES-2019-20.html" target="_blank">IQAC-MINUTES-2019-20.pdf</a>
        </li>
        <li>
          <a href="kmmadmin/minutss/IQAC-MINUTES-2018-19.pdf" target="_blank">IQAC-MINUTES-2018-19.pdf</a>
        </li>
     </ul> -->
    
  </div>
</div>

{% endblock %}
