{% extends "header.html" %}{% block content %}{% load static %}

<div class="container banner">
  <div class="heading">Minutes</div>
</div>

<div class="container">
  <div class="sec-container">
    {% for minute in minutes %}
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">{{ minute.name }}</div>
      </div>
      <div class="button-style">
        
      <!-- View Button -->
      <a href="{{ minute.pdf.url }}" class="btn outline" target="_blank">
         View
      </a>

      <!-- Download Button -->
      <a href="{{ minute.pdf.url }}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg' %}" alt="" /> Download
      </a>
    </div>
    </div>
    {% empty %}
    <p>No IQAC Minutes available.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
