{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
  <div class="heading">National Service Scheme(NSS)</div>
</div>

<div class="container">
  <div class="sec-container column-flex">
    <div class="small-container">
      <article>
        The college has three prestigious National Service Scheme units (NSS) –
        No.19, 22 and 107(self-financing) spears headed by the programme
        officers, Ms. Preeshi K., Mr. Prasad S.B and Dr Samritha A.V.
        respectively. The National Service Scheme units organize various social
        outreach programmes to facilitate its students with the concept and
        practice of social responsibility and have sincerely dedicated their
        efforts to render services to the community with the vison “’Not Me but
        You.
      </article>
    </div>
    <div class="table-heading">NSS Programme Officers</div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start">
        <div class="head">Mr.Prasad S B</div>
        <div class="light">Assistant Professor, Dept. of Economics</div>
      </div>
      {% comment %}
      <a
        href="tel:+918505234456"
        class="small-container basis flex"
        style="text-decoration: none; color: black"
      >
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 8505 234 456</div>
      </a>
      {% endcomment %}
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start">
        <div class="head">Mr.Preeshi K</div>
        <div class="light">Assistant Professor, Dept. of English</div>
      </div>
      {% comment %}
      <a
        href="tel:+918505234456"
        class="small-container basis flex"
        style="text-decoration: none; color: black"
      >
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 8505 234 456</div>
      </a>
      {% endcomment %}
    </div>
    <div class="flex gap full flex-c">
      <div class="small-container flex-just-start">
        <div class="head">Dr.Samritha A V</div>
        <div class="light">Assistant Professor, Dept. of Economics</div>
      </div>
      {% comment %}
      <a
        href="tel:+918505234456"
        class="small-container basis flex"
        style="text-decoration: none; color: black"
      >
        <img src="{% static 'assets/phone.svg'%}" class="img-small" alt="" />
        <div class="head center">+91 8505 234 456</div>
      </a>
      {% endcomment %}
    </div>

    <div class="small-container imgbox">
      <img src="{% static 'assets/nss/snnss1.jpg' %}" alt="" />
      <img src="{% static 'assets/nss/snnss2.jpg' %}" alt="" />
      <img src="{% static 'assets/nss/snnss5.jpg' %}" alt="" />
      <img src="{% static 'assets/nss/snnss4.jpg' %}" alt="" />
      <img src="{% static 'assets/nss/snnss7.jpg' %}" alt="" />
      <img src="{% static 'assets/nss/snnss6.jpg' %}" alt="" />
    </div>
  </div>
</div>

{% endblock %}
