{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">ORICE</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">ORICE Studio Classroom</div>
        </div>
      </div>
      <div class="small-container">
        <p>
            ORICE studio classroom is part of Online Resource Initiative of Collegiate Education (ORICE) programme 
            of Department of Collegiate Education, Govt. of Kerala. This studio is a full-fledged classroom cum studio, 
            which is suitable for the conduct of online - offline classes and video content preparation. Advantage of 
            such facility is effective sharing of resources like organizing an online interaction of students with an 
            expert or can be used as a video conferencing platform. Thus, the studio facilitates the quality online 
            learning through established online platform to the teaching and learning communities. Various courses and 
            programmes are conducted through ORICE platform in the last few years. Some of them are Communicative English
            course, Erudite Lecture series etc. It is also suitable for the conduct of faculty workshops, online meetings
              and seminars.
        </p>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>a) Teacher Coordinator</th>
                    <th>Sri.Jaison P.K </th>
                </tr>
            </thead>
            <tbody>
                <tr><td rowspan="3">Members</td><td>Dr. Francis. O.S  </td></tr>
                <tr><td>Ms.Roshini.T.K</td></tr>
                <tr><td>Smt. Surabhi  A K </td></tr>
                <tr><td colspan="2">b) Student Coordinators  </td></tr>
                <tr><td>i)Student from Language </td><td>Kum.Ardra P, II M.A. English</td></tr>
                <tr><td>ii)Student from Humanities</td><td>Kum.Sandra C, III B.A. History </td></tr>
                <tr><td>iii)Student from Science </td><td>Kum.Chinmayi, III B.Sc. Physics </td></tr>
            </tbody>
        </table>
        </div>
        <div class="flex gap full">
            <div class="small-container flex-just-start">
              <div class="head-big">Photo Gallary</div>
            </div>
          </div>
          <div class="small-container imgbox">
          </div>
</div>
</div>
</div>
{% endblock %}