{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Procedures and Policy</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Procedures and Policy</div>
        </div>
      </div>
      <div class="small-container">
        <h4>
            Procedures and policies for maintaining and utilizing physical, academic and support facilities 
            - laboratory, library, sports complex, computers, classrooms etc.
        </h4>
        <p>
            KMM Govt. Women’s College, Kannur, possesses large physical, academic and support facilities. The general 
            planning of the college is supervised by a high power planning committee. The purchases are done according 
            to the decisions of the purchase committee. The committee ensures that transparency and economy is assured 
            in purchases. State purchase manual and financial code is strictly followed. Digital solutions like e-tendering 
            are also utilized for ensuring speedy, efficient and transparent procurements.
        </p>
        <ul>
            <li>The maintenance of the facilities is ensured through the participatory and coordinated functioning of all 
                departments under the guidance of the various committees and with the aid of the supporting staff.
            </li><br>
              
             <li>The Building Committee ensures the timely repair works of the buildings and infrastructure. Allocation of 
                funds for the maintenance of the infrastructure of the college is earmarked in the plan fund of the college by 
                the directorate of collegiate education department. Additional funds are mobilized from the PTA, Alumni and from 
                other public sources. The state Public Works Department is assigned the technical supervision of the works.
            </li><br>
              
            <li>Lab equipment is maintained by the respective department. Necessary repair works are managed by the supporting 
                staff of the institution. Emergency repairs, if any, are undertaken with the help of PTA.
            </li><br>
              
              
            <li>Student and faculty support is another resource for the maintenance of the college facilities. NCC and NSS 
                undertake necessary campus cleaning and beautification. A college beautification committee is monitoring the 
                general beautification works. The faculty also assist the initiatives by motivating students and working together
                 with them.
                </li><br>
              
              
            <li>Computer lab in the college which is frequented by the students for various service is well maintained with 
                the generous financial assistance from College Development Council as well as PTA. It also operates with 
                substantial self-generated financial resources.
            </li><br>
              
              
            <li>A library committee under the guidance of the college librarian is committed to improving and updating the 
                available library facilities. The library improvement is well supported by the work of faculty members and 
                students.
            </li><br>
              
              
            <li>A well equipped gymnasium is in use for the improvement of physical capacities of faculty and students. Sports 
                equipments including a treadmill and safety gears for players are provided. There is a spacious indoor stadium 
                with wooden floor panelling for teachers and students. Several university level, state level sports events are 
                organised here regularly. The infrastructure is maintained with the help of faculty members and students.
            </li><br>
              
              
            <li>Sports equipment are purchased each year using the sports fee collected from the students during admission and 
                the athletic fund reserved for the purpose. The state government also contributes substantially towards.
            </li><br>
              
              
              <li>There is also an effective yearly audit system to check the furniture, lab equipment, ICT tools, and other 
                stock in the college.</li><br>
              
              <li>The quality and performance of the infrastructure is ensured with the help of external quality assurance 
                agencies like KELTRON, state PWD etc.</li><br>
              
              <li>Maintenance of the hostel facilities are generally supported by student initiatives. There is also strong 
                assistance from the part of alumni organisations and people’s representatives.</li><br>
               
         </ul>
         <div class="flex gap full">
            <div class="small-container flex-just-start">
              <div class="head-big">Photo Gallary</div>
            </div>
          </div>
          <div class="small-container">
          </div>
</div>
</div>
</div>
{% endblock %}