{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Research Guides</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
        <p>
            Convergia (ISSN 2322-051), the multi-disciplinary, multi-lingual, peer-reviewed annual research journal 
            of Krishna Menon Memorial Govt. Women’s College, Kannur, provides a common platform for researchers, academicians 
            and students of various disciplines across the nation. Publishing since 2011, Convergia ensures that papers 
            published in it conform to the standards befitting an accredited journal. The scholarly articles are peer 
            reviewed before acceptance and the author/s will be intimated about acceptance/refusal well in advance.
        </p>
        <table class="styled-table">
            <thead>
                <tr>
                    <th colspan="2">Research Journal Editorial Board</th>
                </tr>
            </thead>
            <tbody>
                <tr  style="font-weight: bold;"><td>Convenor </td><td>Dr. Francis. O.S</td></tr>
                <tr><td rowspan="6"></td><td>Dr. C P Santhosh </td></tr>
                <tr><td>Dr.Nidheesh. K P </td></tr>
                <tr><td>Dr. Shanavas P.H </td></tr>
                <tr><td>Dr. Biju P J </td></tr>
                <tr><td>Dr. Surabhi A K</td></tr>
                <tr><td>Dr. Vipin Chandran K.P </td></tr>
            </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}