{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Research Scholars</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
        <table class="styled-table" style="width:100%;    border-collapse: inherit;">
            <thead>	
                <tr>
                  <th>Sl.No</th>
                  <th>Name of the Research Guide</th>
                  <th>Department</th>
                  <th>Name of the Research Scholar</th>
                  <th>Research Topic</th>
                  </tr>
            </thead>
            <tbody>
                    <td rowspan="6">1</td>			 
                    <td rowspan="6">Dr. Francis O S</td>
                    <td rowspan="6">English</td>
                    <td>1.Anjana P V</td>
                    <td>Shadow of Culture: Trickster Resistance in the Select Indigenous works of Australia</td>
                </tr>
                  <tr>
                    <td>2.Sneha K V</td>
                    <td>Narrative Refractions in Mythological Fictions: A Perusal of Selected Contemporary Retellings of The Ramayana </td>
                </tr>
                  <tr>
                    <td>3.Anaha Paul</td>
                    <td>Decoding the Counter Discourses: A Study of the Prison Narratives and Selected Post	Detention Works of Ngugi wa Thiong’o</td>
                </tr>
                  <tr>
                    <td>4.Nija R</td>
                    <td>Narrative Refractions in Mythological Fictions: A Perusal of Selected Contemporary Retellings of The Ramayana </td>
                </tr>
                  <tr>
                    <td>5.Rejila K T K</td>
                    <td>Narrative Refractions in Mythological Fictions: A Perusal of Selected Contemporary Retellings of The Ramayana </td>
                </tr>
                  <tr>
                    <td>6.Divya Krishna</td>
                    <td>Reconstructing	Myth: A Study of Amish Tripathi’s Shiva Trilogy</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}