{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Research Centre</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
       <h4>Research Forum</h4>
       <p>
        The college is committed to promote a research culture among faculty and students as long-term research provides the 
        cornerstone for the future development of the institution.  The research policy of the college aims to develop and 
        promote scientific temper and research aptitude of all learners; to realize the vision and mission of the college 
        and to identify research areas of academic, practical and socially relevant significance thus contributing to 
        national development. It also aims at ensuring that the research activities of the college conform to all applicable 
        rules and regulations of the affiliating University and U. G. C. as well as to the established standards and norms 
        relating to safe and ethical conduct of research.
       </p>
       <h4>Objectives</h4>
       <ul>
        <li>
            Encourages teachers to take departmental/interdisciplinary research projects from national and international 
            funding agencies.
        </li>
         <li>
            Facilitate community-oriented research initiatives and to transfer the research findings for the social and 
            economic development of the community
        </li>  
        <li>
            Encourage and facilitate the publication of the research works in reputed academic International / National 
            journals and also to facilitate the presentation of the research work through academic events such as 
            workshops/seminars/conferences.
        </li>

        <li>
            Teachers are given proper directions and support to take up major and minor research projects. In the past 
            five years, the number of research projects, research guides, research scholars and post-doctoral fellows 
            has increased tremendously.
        </li>
        <li>
            The Research forum urges the faculty and research scholars to publish their research outputs in peer reviewed 
            journals of national and international repute.
        </li>  
        <li>
            Promotes maximum participation in the national and international seminars, conferences and workshops.
        </li>
        <li>
            Motivates the existing faculty to involve in quality research and acquire doctoral degrees. 23 of them 
            were already awarded PhD and 33 are pursuing.
        </li>
        <li>
            Arranges endowment/invited lectures on an extensive manner through the research centres in order to 
            familiarise innovative research areas.
        </li>
        <li>
            Create an ecosystem for innovations including Incubation centre and other initiatives for creation and transfer of knowledge.
        </li> 
       </ul>
       <table class="styled-table">
        <thead>
            <tr>
                <th colspan="2">34.  Research Forum(for Research Centre) </th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Convenor </td><td style="font-weight: bold;">Dr. K P Vipin Chandran </td></tr>
            <tr><td  rowspan="5">Members </td><td>Dr.  C P Santhosh </td></tr>
            <tr><td>Dr.Francis O.S </td></tr>
            <tr><td>Dr. Sukumaran M </td></tr>
            <tr><td>Dr. Syamala Manicheri</td></tr>
            <tr><td>Dr.Surabhi A.K</td></tr>
        </tbody>
       </table>
      </div>
    </div>
</div>

{% endblock %}