{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Research Guides</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Name</th>
                    <th>Designation & Department</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Dr. Francis O S </td><td>Professor, English </td></tr>
                <tr><td>2</td><td>Dr.Vipin Chandran K P </td><td>Associate Professor, Economics </td></tr>
                <tr><td>3</td><td>Dr. Ummer K C </td><td>Associate Professor, English </td></tr>
                <tr><td>4</td><td>Dr. Ganeshan V</td><td>Assistant Professor, Malayalam </td></tr>
                <tr><td>5</td><td>Dr.SUKUMARAN M </td><td>Assistant Professor, Economics </td></tr>
                <tr><td>6</td><td>Dr. Chandramohanan K T </td><td>Professor, Botany </td></tr>
                <tr><td>7</td><td>Dr. Shiju George </td><td>Associate Professor, Mathematics</td></tr>
                <tr><td>8</td><td>Dr. Syamnath K </td><td>Assistant Professor, Physical Education </td></tr>
            </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}