{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Research Guides</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
            <table class="styled-table">
                  <thead class="header_t">	
                      <tr>
                        <th>Sl.No</th>
                        <th>Faculty</th>
                        <th>Title </th>
                        <th>Funding Agency</th>
                        </tr>
                  </thead>
                  <tbody>
                      <tr>
                            <td>1</td>			 
                          <td>Syamala Manicheri</td>
                          <td>Kudumbam, samooham janapriya novalukalil -Muttathu varkkiyude theranhedutha novalukale aspadamakkiyulla padanam</td>
                            <td>University Grants Commission </td>
                      </tr>
                      <tr>
                            <td>2</td>
                          <td>Narayanan P</td>
                          <td>Economic incentives for economic participation in Grassroot democracy: An analysis based on Kerala Experience </td>
                          <td>University Grants Commission</td>
                      </tr>
                  </tbody>
              </table>
      </div>
    </div>
</div>

{% endblock %}