{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Right to Information (RTI)</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <!-- <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Right to Information (RTI)</div>
        </div>
      </div> -->
      <div class="small-container">
        <p style="margin: 0; font-weight: bold;">Objective of the Right to Information Act :</p>
        <p>In order to promote transparency and accountability in administration, the Right to Information Act, 
            came into force in Krishna Menon Memorial Govt. women’s College in 2005. The new law empowers Indian 
            citizens to seek information from a Public Authority, thus making the Government and its functionaries 
            more accountable and responsible. The Act has now been in operation since 2005 and has benefited many, 
            including the poor, job seekers, and the underprivileged. It has been highlighted that in various case 
            studies that RTI Act has adequate teeth and strength to bring in transparency and reduce corruption. It 
            is still a matter of pride that we have given to ourselves, a tool which has the potential to usher in 
            transparency, and reduce corruption.</p>
        <p style="margin: 0; font-weight: bold;">Appellate Authority :</p>
        <p>Dr.Santhosh C. P., Principal, KMM Govt. Women’s College, Kannur. 0497-2746175</p>
        <p style="margin: 0; font-weight: bold;">Information Officer:</p>
        <p>Public Information Officer: Dr.Francis O. S. Associate Professor and Head, Department of English,Mob: 9447346312</p>
        <p style="margin: 0; font-weight: bold;">Assistant Information Officer:</p>
        <p>Sri.Sumesh P. V. , Senior Superintendent, KMM Govt. Women’s College, Kannur. 0497- 2746175</p>
        </div>
    </div>
</div>
{% endblock %}