 {% extends "header.html" %} {% block content %} {% load static %}
 <div class="container banner">
     <div class="heading">RUSA</div>
   </div>
   
   <div class="container">
     <div class="sec-container column-flex">
       <div class="small-container">  
        <table class="styled-table" style="width:100%;">
            <thead>
                <tr>
                    <th colspan="2">RUSA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Head of the Institution (Full time Appointee)</td>
                    <td>Principal</td>
                </tr>
                <tr>
                    <td>Nodal Officer for Academic Activities</td>
                    <td>Vice Principal</td>
                </tr>
                <tr>
                    <td>RUSA Institutional Coordinator</td>
                    <td>Dr. Shiju George</td>
                </tr>
                <tr>
                    <td>Nodal Officer for Civil works including Environmental Management </td>
                    <td>Dr. Shanavas P H </td>
                </tr>
                <tr>
                    <td>Nodal Officer for procurement</td>
                    <td>Sri. Muhammed Shafeeq K C</td>
                </tr>
                <tr>
                    <td>Nodal Officer for Financial Aspect</td>
                    <td>Dr. Surabhi A K</td>
                </tr>
                <tr>
                    <td>Nodal Officer for Equity Assurance Plan Implementation</td>
                    <td>Dr. Shyamnath K </td>
                </tr>
                <tr>
                    <td rowspan="3">Members</td>
                    <td>Dr.Rajeevan P</td>
                </tr>
                <tr>
                    <td>Dr. Sukumaran M</td>
                </tr>
                <tr>
                    <td>Smt. Thanseera. E (Office Staff in charge of RUSA)</td>
                </tr>
            </tbody>
        </table>
       </div>
     </div>
 </div>
 
 {% endblock %}