{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Scholarship</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="small-container">  
        <p>
            The students of the college are conditionally eligible for one or more scholarships and freeships 
            provided by various government departments at central and state levels. The majority of the students 
            receive at least one scholarship apart from the E-grant facility of freeship available to the students 
            belonging to families with an annual family income of less than Rs. 1 Lakh. The details of the major 
            scholarships and freeships are furnished in the table below.
        </p>
        <table class="styled-table" style="width:100%;    border-collapse: inherit;">
            <thead class="header_t">
              <tr>
                <th>Sl.No</th>
                <th>Name of the Scholarship/Freeship</th>
                <th>Number of Students Benefitted (2021-22)</th>
                <th>Link to the Relevant Website</th>
               </tr>
            </thead>
           <tbody>
             <tr>
               <td>1</td>
                  <td>Post-metric Scholarship</td>
               <td>54</td>
               <td><a href="https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php" target="-blanck"> https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php </a> </td>
             </tr>
             <tr>
               <td>2</td>
                  <td>C H Muhammed Koya Scholarship</td>
               <td>89</td>
               <td><a href="http://www.minoritywelfare.kerala.gov.in/muslim-girls-scholarship.php" target="-blanck"> http://www.minoritywelfare.kerala.gov.in/muslim-girls-scholarship.php </a> </td>
             </tr>
             <tr>
               <td>3</td>
                  <td>Suvarna Jubilee Scholarship</td>
               <td>22</td>
               <td><a href="https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php" target="-blanck"> https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php </a> </td>
             </tr>
             <tr>
               <td>4</td>
                  <td>State Merit Scholarships</td>
               <td>5</td>
               <td><a href="https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php" target="-blanck"> https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php </a> </td>
             </tr>
             <tr>
               <td>5</td>
                  <td>Hindi Scholarship</td>
               <td>2</td>
               <td><a href="https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php" target="-blanck"> https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php </a> </td>
             </tr>
             <tr>
               <td>6</td>
                  <td>Central Sector Scholarshipy</td>
               <td>68</td>
               <td><a href="https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php" target="-blanck"> https://www.dcescholarship.kerala.gov.in/dce/he_ma/he_maindx.php </a> </td>
             </tr>
             <tr>
               <td>7</td>
                  <td>E-grants Freeship</td>
               <td>802</td>
               <td><a href="https://www.egrantz.kerala.gov.in/" target="-blanck"> https://www.egrantz.kerala.gov.in/ </a> </td>
             </tr>
             <tr>
               <td>8</td>
                  <td>Post Graduate Indira Gandhi Sigle Girl Child Scholarship</td>
               <td>4</td>
               <td><a href="https://scholarships.gov.in/" target="-blanck"> https://scholarships.gov.in/ </a> 
               </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

{% endblock %}