{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Sports Facility</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">SPORTS FACILITY</div>
        </div>
      </div>  
      <div class="small-container">   
        <p>
            The students of our college excel in both cultural events and sports competitions in university, state, national
            and international level. The college has produced excellent singers, classical dancers, and cine-artists along
            with national and international sports achievers.
        </p>
        <p> 
            The college has adequate infrastructural and institutional facilities to host and encourage cultural activities.
             Infrastructure facilities include an auditorium with a seating capacity of 500 and furnished with proper public
              addressing system, lighting facilities and other necessary auxiliaries. The construction of a new auditorium with 
              a seating capacity of 1000 is nearing completion, which will have two green rooms, acoustic control, toilets, 
              retractable seating system etc. Other infrastructural facilities available for promoting cultural talents of 
              students are two seminar halls and an open-air stage. While the seminar halls are used for training and performing 
              off-stage cultural events and screening cinema, the open-air stage is used for staging major performing arts.
        </p>
        <p> 
            There are several student-initiated organizations to facilitate cultural talents. The College Students Union, 
            the College Fine Arts Club, an editorial team with an elected Student Editor, Department associations, various 
            clubs like, Media club, Tourism club, the platform Arangu etc. conduct various literary and cultural events. 
            The college PTA supports the students by providing funds for their training. Our college Oppana team has bagged 
            the first prize in interuniversity arts festival in consecutive years.
        </p>
        <p>
            The college is a recipient of Jimmy George Trophy for the best college in sports achievement in Kannur University. 
            Our students have secured several championships in the university, state, national and international level sports 
            and games events. To facilitate their training the college has state of art infrastructural facilities. The college 
            has an Indoor Stadium (having the dimensionof 34 x 22 x 12 metres) with seating capacity for 200 persons which 
            provides facilities to train the students in basketball, volleyball and shuttle badminton. In addition, table 
            tennis training is also given. Apart from this, there is an open basketball court with gallery having seating 
            capacity for three hundred persons and an outdoor volleyball court.
        </p>
        <p>
            The faculty and students make use of the well-equipped, moderately-sized gymnasium. Special amenities have been 
            provided to cater to the needs of differentially abled students. The multi-purpose open ground of the college 
            (80 x 50 metres) is mainly utilized for football and other outdoor games. Archery training isconducted by making 
            use of make shift buttress and stands, bows and arrows. The college has opened these facilities for students from 
            nearby and far away schools and colleges. The college hostel remains an encouraging facility for students coming 
            under sports quota from far away places.
        </p>
        <p>
            The college provides regular training in yoga appropriating facilities available at the indoor stadium and the 
            courtyard. The Women Cell organises training sessions in karate for self-defense. The college has a Health Centre 
            and the service of a Counsellor is ensured by the Jeevani centre of the college. The Jeevani organises classes on 
            meditation, relaxation techniques and stress management.
        </p>
        <div class="small-container">
            <div class="flex gap full">
                <div class="small-container flex-just-start">
                  <div class="head-big">Photo Gallary</div>
                </div>
              </div>
              <div class="small-container">
              </div>
    </div>
    </div>
    </div>
{% endblock %}