{% extends "header.html" %} 
{% block content %} 
{% load static %}

<div class="container banner">
  <div class="heading">Statement Compliance</div>
</div>

<div class="container">
  <div class="sec-container">
    {% for statement in statements %}
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">{{ statement.name }}</div>
      </div>
      <div class="flex">
        <div class="button-style">
        <a href="{{ statement.pdf.url }}" class="btn outline" target="_blank">View
        </a>
        <a href="{{ statement.pdf.url }}" class="btn outline" download>
          <img src="{% static 'assets/download_black.svg'%}" alt="" /> Download
        </a>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No statement compliance documents available.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
      <!-- <a
        href="{% static 'assets/form/LEAVE_FORM.pdf'%}"
        class="btn outline"
        download
      > -->
      <!-- <a
        href="kmmadmin/statement/IQAC-Statement%20Compliance.html"
        class="btn outline"
        download
      >
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Download
      </a>
    </div>
    {% comment %} <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">TC:</div>
      </div>
      <a href="{% static 'assets/form/TC.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div>
    <div class="small-container flex list">
      <div class="flex">
        <img class="img-small" src="{% static 'assets/courses.svg' %}" alt="" />
        <div class="c">PM:</div>
      </div>
      <a href="{% static 'assets/form/PM.pdf'%}" class="btn outline" download>
        <img src="{% static 'assets/download_black.svg'%}" alt="" /> Form
      </a>
    </div> {% endcomment %} -->
