{% extends "admin_header.html" %} {% block content %} {% load static %}

<body class="edit-body">
  <div class="edit-formcon">
    <h2>Edit News Article</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="title">Title:</label>
      <input class="inp" type="text" id="title" name="title" value="{{ article.title }}" required />

      <label for="description">Description:</label>
      <textarea id="description" name="description" required class="tarea inp">{{ article.description }}</textarea>

      <label>Existing Photos:</label>
      <div class="existing-photos">
        {% for image in article.images.all %}
        <div class="photo-item">
          <img class="imgpreview" src="{{ image.image.url }}" alt="Image" width="100" />
          <label>
            <input type="checkbox" name="delete_photos" value="{{ image.id }}">
            <span class="custom-checkbox" aria-hidden="true">
              <span class="material-icons">check</span>
            </span>
            Delete
          </label>
        </div>
        {% endfor %}
      </div>
      <label for="photo">Add New Photo:</label>
      <input class="inp" type="file" id="photo" name="photos" accept="image/*" multiple />

      <button type="submit">Update</button>
    </form>
    <a href="{% url 'news_list' %}" class="btn-edit btn">Back to List</a>
  </div>
  </body>
  {% endblock %}