{% extends "admin_header.html" %}
{% block content %}{% load static %}
<body class="edit-body">
    <div class="edit-formcon">
        <h2>Update Department</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Department Name:</label>
            <input type="text" id="name" name="name" class="inp" value="{{ department.name }}" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" class="tarea inp">{{ department.description }}</textarea>

            <label for="photo">Current Photo:</label>
            {% if department.photo %}
                <img src="{{ department.photo.url }}" alt="Department Photo" width="150">
            {% else %}
                p>No Image Available</p>
            {% endif %}

            <label for="photo">Upload New Photo (Optional):</label>
            <input type="file" id="photo" name="photo" class="inp">

            <button type="submit" class="btn">Update</button>
        </form>

        <a href="{% url 'department_list' %}" class="btn-edit btn">Back to Department List</a>
    </div>
{% endblock %}
</body>