{% extends "admin_header.html" %}
{% block content %}

<div class="edit-formcon">
  <h2>Update Feedback</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input class="inp" type="text" name="name" value="{{ feedback.name }}" required>

    <label for="pdf">Replace PDF (optional):</label>
    <input class="inp" type="file" name="pdf" accept="application/pdf">

    <button type="submit">Update</button>
  </form>
  <a href="{% url 'feedback_list' %}" class="btn-edit btn">Back to List</a>
</div>

{% endblock %}
