{% extends "header.html" %} {% block content %} {% load static %}
<div class="container banner">
    <div class="heading">Women’s Hostel</div>
  </div>
  
  <div class="container">
    <div class="sec-container column-flex">
      <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Women's Hostel</div>
        </div>
      </div>  
      <div class="small-container">
        <p>
            The Women’s Hostel is built inside the campus just behind the Heritage Block under the green cover of huge 
            evergreen trees. It can accommodate a number of eighty students but due to increasing demand the number is 
            now been extended to ninety. Students from other districts and those who are from the backward classes, have 
            priority in admission. The hostel has its own administration with a warden as its head, and an office under 
            him/her. It is a huge three storey building with amenities like separate canteen and cooks. All regular dishes 
            are available in the hostel at a comparatively cheaper cost. Various indoor games are set inside the hostel to 
            keep the inmates fresh and healthy. The service of a resident tutor is available to the hostellers round the 
            clock.
        </p>
      </div>
        <div class="flex gap full">
        <div class="small-container flex-just-start">
          <div class="head-big">Photo Gallary</div>
        </div>
      </div>
      <div class="small-container imgbox">
      </div>
    </div>
    </div>
</div>
{% endblock %}